

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from upparasports.in/about-us by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Dec 2022 15:52:41 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head><title>
    Banaskantha & Patan Para Sports Association
</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet" /><link href="css/revolution-slider.css" rel="stylesheet" /><link href="css/style.css" rel="stylesheet" />
<!--Favicon-->
<link rel="shortcut icon" href="images/uppsalogoicon.jpg" type="image/jpg" /><link rel="icon" href="images/uppsalogoicon.jpg" type="image/jpg" />
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /><link href="css/responsive.css" rel="stylesheet" /><link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet" /><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap" rel="stylesheet" />
</head>
<body>
    <form name="aspnetForm" method="post" action="http://upparasports.in/about-us" id="aspnetForm">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJMzI3MzEzMjQ0ZGSIOiA+faaPrHx61GQgCZMTw2nasQ==" />
</div>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="805B0152" />
</div>
   
<div class="page-wrapper"> 	
    <!-- Preloader -->
 	

   


    <!-- Main Header-->
    <header class="main-header">
        <div class="header-top">
            <div class="container">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="main-logo">
                        <figure>
                            <a href="/"><img src="images/gujaratlogofooter.png" alt="" class="img-responsive"></a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="main-header-info clearfix">
                        <div class="header-info">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <h6>Call Us:</h6>
                            <span>+91-9971060444, +91-9818563636</span>
                        </div>
                        <div class="header-info">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h6>Email Us:</h6>
                            <a href="#"><span>pcup.pci@gmail.com</span></a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
                    
        <div class="header-lower">
            <div class="container">
                <div class="header-area">
                    <nav class="main-menu">
                        <div class="navbar-header clearfix">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="/" >Home</a></li>
                                <li ><a href="./about-us" >About Us</a></li>
                                <!-- <li>
                                    <a href="members.html">Members</a>

                                </li>
                                <li>
                                    <a href="events.html">Events</a>

                                </li> -->
                                 <li class=""><a href="./gallery">Gallery</a> <!--removed class   "dropdown from gallery"   -->
                                    <ul>
                                        <!-- <li><a href="./gallery">Gallery</a></li>  -->
                                        <!-- <li><a href="media.html">Media</a></li>  -->
                                    </ul>
                                </li>
                                <li>
                                    

                                </li>
                                <!-- <li>
                                    <a href="disciplinary-committee.html">Disciplinary Committee</a>

                                </li> -->

                                <li><a href="./contact">Contact Us</a></li>
                                <li  class="current"><a href="./activity" style="color:#fff;">Activity</a></li>

                            </ul>
                        </div>                    
                    </nav>
                    <div class="link-btn">
                        <a href="./register" class="theme-btn btn-style-one">Register Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sticky-header">
        	<div class="container clearfix">
                <!--Logo-->
                <div class="logo">
                    <a href="/"><img src="images/gujaratlogofooter.png" alt="" class="img-responsive" style="width: 300px"></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header clearfix">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="/">Home</a></li>
                                <li  ><a href="./about-us" >About Us</a></li>   
                                <li class=""><a href="./gallery">Gallery</a>
                                    <ul>
                                        <!-- <li><a href="./gallery">Gallery</a></li>  -->
                                        <!-- <li><a href="media.html">Media</a></li>  -->
                                    </ul>
                                </li>
                                <!-- <li><a href="disciplinary-committee.html">Disciplinary Committee</a>
                                   
                                </li> -->
                                
                                <li><a href="./contact">Contact Us</a></li>
                                <li  class="current"><a href="./activity">Activity</a></li>

                            </ul>
                        </div>                    
                    </nav><!-- Main Menu End-->
                </div>                
            </div>
        </div>
    </header>
    <!--End Main Header -->
    
    
       
    <!--Page Title-->
    <section class="page-title fullgradient_overlay" style="background-image:url(images/background/21.jpg);">
        <div class="container">
            <div class="title-text clearfix">
                <h1>Activity</h1>
                <ul class="title-menu">
                    <li><a href="/">home</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                    <li>Activity</li>
                </ul>
            </div>           
        </div>
    </section>
    <!--End Page Title-->


    <!--about-section Style-->
    <section class="about-section">
        <div class="container">
           
            <div class="content-text " >
               <p style="text-align:left">
                    It is a voluntary organization run by the disabled for the disabled and registered with the office of the
                    charity commissioner in 2015. All the workers of this organization have disabilities and provide all
                    
                    human services which is the specialty of this organization.<br/>
                    
                    <span style="font-size:10px; margin-right:5px;">⚫</span> To discover the latent strengths of the disabled like work skills practical knowledge, self-
                    employment, unusual tendencies, art, music, sports etc. in various fields and display them in
                    the society and encourage others for the same.<br/>
                    <span style="font-size:10px; margin-right:5px;">⚫</span>  Helping in providing various tools for employment to disabled people like handloom, sewing
                    machine, etc. through government scheme or with the help of someone.<br/>
                    <span style="font-size:10px; margin-right:5px;">⚫</span>  Important social useful works for the disabled are arranging for their marriages, getting details
                    of people from other castes, arranging meetings for grooms and more and providing adequate
                    platform for them.<br/>
                    <span style="font-size:10px; margin-right:5px;">⚫</span>  To organize outdoor and indoor sports at Zonal sub Zonal level, district level and to invite
                    sportspersons from the villages far from the city to participate and send them to state level and
                    international level and to guide different sports by coaches.<br/>
                    <span style="font-size:10px; margin-right:5px;">⚫</span>  To provide the widows, destitute and poor sisters and disabled brothers of the society with the
                    tools necessary for economic life as well as small scale employment tools.<br/>
                    <span style="font-size:10px; margin-right:5px;">⚫</span>  To conduct programs based on various topics like tours, camp camps, planning, training
                    program, tricycle rally, de-addiction seminar, public awareness society useful for disabled
                    people to enable them to do all the activities.<br/>
                    <span style="font-size:10px; margin-right:5px;">⚫</span>  To identify and applaud disabled persons who do special work for the society and the disabled
                    and set an example in the society.<br/>
                    <span style="font-size:10px; margin-right:5px;">⚫</span>  To take action and take action regarding the rights of the disabled, their self-respect,
                    reservation etc. so that they can live with self-respect in the society.<br/>
                    <span style="font-size:10px; margin-right:5px;">⚫</span>  Assisting in giving and providing benefits of horses, calipers, tricycles, wheelchairs, waist belts
                    and artificial limbs to the disabled by Government and Non-Government (NGO).<br/>
                    <span style="font-size:10px; margin-right:5px;">⚫</span>  To provide books, notebooks, books, school uniforms to the disabled beneficiaries who are
                    studying in schools, colleges and to the needy beneficiaries free of cost related to education.<br/>
                    <span style="font-size:10px; margin-right:5px;">⚫</span>  Helping the disabled to get jobs in private companies, hospitals, malls, and call centers, based
                    on their experience, education and qualifications.<br/>
                    <span style="font-size:10px; margin-right:5px;">⚫</span>  In present circumstances, employment, business, job are very necessary. For that, employment
                    camps are organized through the organization. But it is also necessary for the needy
                    beneficiaries to contact the organization.<br/></p>

                <!-- <p>UP Para Sports Association has been continuously making efforts for development of Sports amongst divyang persons in Uttar Pradesh state since year 2009 and providing a great platform to excel in Sports. The sincere and dedicated efforts of UP Para Sports Association has shown the results in the Sportsperson who have already represented India in National and International Sports events like Para-Olympics. More than 100 para players from Uttar Pradesh State have already been participated in International Events.</p> -->
            </div>
            
        </div>
    </section>
    <!--about-section Style-->
    <!--subscribe section-->
     <section class="gellary-subscribe">
        <div class="container">
            <div class="content-text clearfix">
                <h3>Lets make the <br><span>world better</span> together</h3>
                <div class="link-btn">
                    <a href="./register">register now</a>
                </div>
            </div>
        </div>
    </section>
    <!--subscribe section-->


   


    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="container">
            <!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row">                          
                    <!--Footer Column-->
                	<div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    	<div class="about-widget">
                            <div class="footer-logo">
                                <a href="/"><img src="images/gujaratlogofooter.png" alt="" class="img-responsive"></a>
                            </div> 
                            <div class="widget-content">
                                <p>The Banaskantha & Patan Para Sports Association, which is a component of the Gujarat Paralympic Committee, made the decision to create this website in order to assist people with disabilities in registering for the future paralympic games.</p>
                            </div> 
                            <div class="link-btn">
                                <a href="./about-us.ejs">Read More</a>
                            </div>                 
                        </div>
                    </div>                            
                    <!--Footer Column-->
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <div class="links-widget">
                            <h4>quick links</h4>
                            <ul class="links-list">
                                <li><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
                                <li><a href="./about-us.ejs"><i class="fa fa-angle-right" aria-hidden="true"></i>About Us</a></li>
                                <li><a href="./gallery"><i class="fa fa-angle-right" aria-hidden="true"></i>Gallery</a></li>
                                <li><a href="./register"><i class="fa fa-angle-right" aria-hidden="true"></i>Register</a></li>
                                <li><a href="./contact"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact Us</a></li>
                                <li><a href="./activity"><i class="fa fa-angle-right" aria-hidden="true"></i>Activity</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <h4>other links</h4>
                        <ul class="links-list">
                            <li><a href="https://paralympicindia.org.in/web/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Paralympic Committee of India</a></li>
                            <li><a href="https://www.paralympic.org/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>International Paralympic Committee</a></li>
                            <li><a href="https://asianparalympic.org/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Asian Paralympic Committee</a></li>
                            <li><a href="https://kheloindia.gov.in/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Khelo India</a></li>
                            <li><a href="https://yas.nic.in/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Ministry of Youth Affairs and Sports</a></li>
                            <li><a href="https://olympics.com/tokyo-2020/en/paralympics/sports/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>The Tokyo Organising Committee of the Olympic and Paralympic Games</a></li>
                            
                        </ul>
                    </div>
                    <!--Footer Column-->
                	<div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    	<div class="contact-links">
                            <h4>contact us</h4>                       	
                           
                            <div class="widget-content">
                                <div class="footer-info">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <p>Sh. 299, Shastri Nagar,<br> Ghaziabad (U.P.) - 201001</p>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <p>+91-9971060444, +91-9818563636</p>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <a href="#"><p>pcup.pci@gmail.com</p></a>
                                </div>
                                <div class="footer-info" style="margin-left:0px;">
                                    <div class="icon-links" style="margin-left:0px;">
                                        <a href="https://www.facebook.com/UpParaSportsAssociation/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="https://www.instagram.com/UpParaSportsAssociation/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="https://www.youtube.com/channel/UCx3N3XgtDIB9G_g5or2TxAg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>               	                            
                    <!--Footer Column-->
                	                  
                </div>
            </div>         
        </div>        
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="container">
                <div class="copyright-text text-center">Copyright &copy; 2022 Banaskantha & Patan Para Sports Association. All Rights Reserved</div>
            </div>            
        </div>         
    </footer>
    <!--Main Footer-->


</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>



     
    
    </form>
    <script src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script> 
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/isotope.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/html5lightbox.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/owl.js"></script>
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
<script src="js/masterslider/masterslider.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/validate.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/script.js"></script>
</body>

<!-- Mirrored from upparasports.in/about-us by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Dec 2022 15:52:42 GMT -->
</html>
