

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from upparasports.in/photogallery/20th-National-Para-Athletics-Championship-2022-Bhubaneswar--Odisha-/18 by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Dec 2022 16:06:42 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head><title>
	Banaskantha & Patan Para Sports Association
</title>
<!-- Stylesheets -->
<link href="./css/bootstrap.css" rel="stylesheet" /><link href="./css/revolution-slider.css" rel="stylesheet" /><link href="./css/style.css" rel="stylesheet" />
<!--Favicon-->
<link rel="shortcut icon" href="./images/uppsalogoicon.jpg" type="image/jpg" /><link rel="icon" href="./images/uppsalogoicon.jpg" type="image/jpg" />
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /><link href="./css/responsive.css" rel="stylesheet" /><link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet" /><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap" rel="stylesheet" />

</head>



<body>
    <!-- <form name="aspnetForm" method="post" action="http://upparasports.in/photogallery/20th-National-Para-Athletics-Championship-2022-Bhubaneswar--Odisha-/18" id="aspnetForm"> -->
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJNTI1NzYyMzc4D2QWAmYPZBYCAgEPZBYCZg9kFgRmDxYCHglpbm5lcmh0bWwFQzIwdGggTmF0aW9uYWwgUGFyYS1BdGhsZXRpY3MgQ2hhbXBpb25zaGlwLTIwMjIgQmh1YmFuZXN3YXIsIE9kaXNoYSBkAgEPFgIeC18hSXRlbUNvdW50AkYWjAFmD2QWBAIBDxYEHgNhbHQFAjc1HgNzcmMFMS9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMDgzLTM0NDEzMjAyMjEwMTcxMS5qcGdkAgMPFgIeBGhyZWYFMn4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDA4My0zNDQxMzIwMjIxMDE3MTEuanBnZAIBD2QWBAIBDxYEHwIFAjc0HwMFMS9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMDgzLTM0NDEzMjAyMjEwMTY0OS5qcGdkAgMPFgIfBAUyfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMDgzLTM0NDEzMjAyMjEwMTY0OS5qcGdkAgIPZBYEAgEPFgQfAgUCNzMfAwUvL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAwNjZBNDEzMjAyMjEwMTUyNi5qcGdkAgMPFgIfBAUwfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMDY2QTQxMzIwMjIxMDE1MjYuanBnZAIDD2QWBAIBDxYEHwIFAjcyHwMFLi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMDU4NDEzMjAyMjEwMTUwNi5qcGdkAgMPFgIfBAUvfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMDU4NDEzMjAyMjEwMTUwNi5qcGdkAgQPZBYEAgEPFgQfAgUCNzEfAwUuL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAwNTc0MTMyMDIyMTAxNDU3LmpwZ2QCAw8WAh8EBS9+L3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAwNTc0MTMyMDIyMTAxNDU3LmpwZ2QCBQ9kFgQCAQ8WBB8CBQI3MB8DBS4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDA0NjQxMzIwMjIxMDE0NTAuanBnZAIDDxYCHwQFL34vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDA0NjQxMzIwMjIxMDE0NTAuanBnZAIGD2QWBAIBDxYEHwIFAjY5HwMFNy9waG90b3MvanNkZ2FsbGVyeUZCX0lNR18xNjQ4NzQ3MDk0NzI3NDEzMjAyMjEwMTQ0Mi5qcGdkAgMPFgIfBAU4fi9waG90b3MvanNkZ2FsbGVyeUZCX0lNR18xNjQ4NzQ3MDk0NzI3NDEzMjAyMjEwMTQ0Mi5qcGdkAgcPZBYEAgEPFgQfAgUCNjgfAwUuL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAxMjc0MTMyMDIyMTAxNDI4LmpwZ2QCAw8WAh8EBS9+L3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAxMjc0MTMyMDIyMTAxNDI4LmpwZ2QCCA9kFgQCAQ8WBB8CBQI2Nx8DBS4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDEyODQxMzIwMjIxMDE0MTguanBnZAIDDxYCHwQFL34vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDEyODQxMzIwMjIxMDE0MTguanBnZAIJD2QWBAIBDxYEHwIFAjY2HwMFLi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMTI5NDEzMjAyMjEwMTQxMC5qcGdkAgMPFgIfBAUvfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMTI5NDEzMjAyMjEwMTQxMC5qcGdkAgoPZBYEAgEPFgQfAgUCNjUfAwUuL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAxMzI0MTMyMDIyMTAxMzU3LmpwZ2QCAw8WAh8EBS9+L3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAxMzI0MTMyMDIyMTAxMzU3LmpwZ2QCCw9kFgQCAQ8WBB8CBQI2Mx8DBS4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDE1NDQxMzIwMjIxMDEzNDEuanBnZAIDDxYCHwQFL34vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDE1NDQxMzIwMjIxMDEzNDEuanBnZAIMD2QWBAIBDxYEHwIFAjYyHwMFLi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMTU3NDEzMjAyMjEwMTMzMS5qcGdkAgMPFgIfBAUvfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMTU3NDEzMjAyMjEwMTMzMS5qcGdkAg0PZBYEAgEPFgQfAgUCNjAfAwUuL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAyNzQ0MTMyMDIyMTAxMzI0LmpwZ2QCAw8WAh8EBS9+L3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAyNzQ0MTMyMDIyMTAxMzI0LmpwZ2QCDg9kFgQCAQ8WBB8CBQI1OR8DBS4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDI5MTQxMzIwMjIxMDEzMTQuanBnZAIDDxYCHwQFL34vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDI5MTQxMzIwMjIxMDEzMTQuanBnZAIPD2QWBAIBDxYEHwIFAjU4HwMFLi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMzEyNDEzMjAyMjEwMTMwMi5qcGdkAgMPFgIfBAUvfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMzEyNDEzMjAyMjEwMTMwMi5qcGdkAhAPZBYEAgEPFgQfAgUCNTYfAwUuL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAzMTQ0MTMyMDIyMTAxMjUwLmpwZ2QCAw8WAh8EBS9+L3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAzMTQ0MTMyMDIyMTAxMjUwLmpwZ2QCEQ9kFgQCAQ8WBB8CBQI1NR8DBS4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDMzNTQxMzIwMjIxMDEyNDMuanBnZAIDDxYCHwQFL34vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDMzNTQxMzIwMjIxMDEyNDMuanBnZAISD2QWBAIBDxYEHwIFAjU0HwMFLi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMzM3NDEzMjAyMjEwMTIzNi5qcGdkAgMPFgIfBAUvfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wMzM3NDEzMjAyMjEwMTIzNi5qcGdkAhMPZBYEAgEPFgQfAgUCNTMfAwUuL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAzNTY0MTMyMDIyMTAxMDU1LmpwZ2QCAw8WAh8EBS9+L3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzAzNTY0MTMyMDIyMTAxMDU1LmpwZ2QCFA9kFgQCAQ8WBB8CBQI1Mh8DBS4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDYyOTQxMzIwMjIxMDEwNDAuanBnZAIDDxYCHwQFL34vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDYyOTQxMzIwMjIxMDEwNDAuanBnZAIVD2QWBAIBDxYEHwIFAjUxHwMFLi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wNjQ3NDEzMjAyMjEwMTAxOC5qcGdkAgMPFgIfBAUvfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wNjQ3NDEzMjAyMjEwMTAxOC5qcGdkAhYPZBYEAgEPFgQfAgUCNTAfAwUuL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzA2NTA0MTMyMDIyMTAxMDA2LmpwZ2QCAw8WAh8EBS9+L3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzA2NTA0MTMyMDIyMTAxMDA2LmpwZ2QCFw9kFgQCAQ8WBB8CBQI0OR8DBS4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDY2MTQxMzIwMjIxMDA5NTkuanBnZAIDDxYCHwQFL34vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDY2MTQxMzIwMjIxMDA5NTkuanBnZAIYD2QWBAIBDxYEHwIFAjQ4HwMFLi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wNjY1NDEzMjAyMjEwMDk0My5qcGdkAgMPFgIfBAUvfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wNjY1NDEzMjAyMjEwMDk0My5qcGdkAhkPZBYEAgEPFgQfAgUCNDcfAwUuL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzA2NzY0MTMyMDIyMTAwOTMxLmpwZ2QCAw8WAh8EBS9+L3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzA2NzY0MTMyMDIyMTAwOTMxLmpwZ2QCGg9kFgQCAQ8WBB8CBQI0Nh8DBS4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDY5NjQxMzIwMjIxMDA5MTUuanBnZAIDDxYCHwQFL34vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDY5NjQxMzIwMjIxMDA5MTUuanBnZAIbD2QWBAIBDxYEHwIFAjQ1HwMFLi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wNzA4NDEzMjAyMjEwMDkwMC5qcGdkAgMPFgIfBAUvfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wNzA4NDEzMjAyMjEwMDkwMC5qcGdkAhwPZBYEAgEPFgQfAgUCNDMfAwUuL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzA3MjA0MTMyMDIyMTAwODUwLmpwZ2QCAw8WAh8EBS9+L3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzA3MjA0MTMyMDIyMTAwODUwLmpwZ2QCHQ9kFgQCAQ8WBB8CBQI0Mh8DBS4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDcyMjQxMzIwMjIxMDA4NDEuanBnZAIDDxYCHwQFL34vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDcyMjQxMzIwMjIxMDA4NDEuanBnZAIeD2QWBAIBDxYEHwIFAjQxHwMFLi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wNzQ1NDEzMjAyMjEwMDgyMy5qcGdkAgMPFgIfBAUvfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wNzQ1NDEzMjAyMjEwMDgyMy5qcGdkAh8PZBYEAgEPFgQfAgUCNDAfAwUuL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzA4MTY0MTMyMDIyMTAwODA5LmpwZ2QCAw8WAh8EBS9+L3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzA4MTY0MTMyMDIyMTAwODA5LmpwZ2QCIA9kFgQCAQ8WBB8CBQIzOR8DBS4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDg3OTQxMzIwMjIxMDA3NDAuanBnZAIDDxYCHwQFL34vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDg3OTQxMzIwMjIxMDA3NDAuanBnZAIhD2QWBAIBDxYEHwIFAjM4HwMFLi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wODgwNDEzMjAyMjEwMDczMi5qcGdkAgMPFgIfBAUvfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wODgwNDEzMjAyMjEwMDczMi5qcGdkAiIPZBYEAgEPFgQfAgUCMzcfAwUuL3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzA4ODI0MTMyMDIyMTAwNzI0LmpwZ2QCAw8WAh8EBS9+L3Bob3Rvcy9qc2RnYWxsZXJ5UENJRFNDXzA4ODI0MTMyMDIyMTAwNzI0LmpwZ2QCIw9kFgQCAQ8WBB8CBQIzNh8DBS4vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDkwOTQxMzIwMjIxMDA3MTcuanBnZAIDDxYCHwQFL34vcGhvdG9zL2pzZGdhbGxlcnlQQ0lEU0NfMDkwOTQxMzIwMjIxMDA3MTcuanBnZAIkD2QWBAIBDxYEHwIFAjM1HwMFLi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wOTk3NDEzMjAyMjEwMDcwNy5qcGdkAgMPFgIfBAUvfi9waG90b3MvanNkZ2FsbGVyeVBDSURTQ18wOTk3NDEzMjAyMjEwMDcwNy5qcGdkAiUPZBYEAgEPFgQfAgUCMzQfAwUwL3Bob3Rvcy9qc2RnYWxsZXJ5WlBDSURTQ18wMDI5QTQxMzIwMjIxMDA2NTMuanBnZAIDDxYCHwQFMX4vcGhvdG9zL2pzZGdhbGxlcnlaUENJRFNDXzAwMjlBNDEzMjAyMjEwMDY1My5qcGdkAiYPZBYEAgEPFgQfAgUCMzMfAwUvL3Bob3Rvcy9qc2RnYWxsZXJ5WlBDSURTQ18wMDM1NDEzMjAyMjEwMDYzNy5qcGdkAgMPFgIfBAUwfi9waG90b3MvanNkZ2FsbGVyeVpQQ0lEU0NfMDAzNTQxMzIwMjIxMDA2MzcuanBnZAInD2QWBAIBDxYEHwIFAjMyHwMFLy9waG90b3MvanNkZ2FsbGVyeVpQQ0lEU0NfMDA0MDQxMzIwMjIxMDA2MjYuanBnZAIDDxYCHwQFMH4vcGhvdG9zL2pzZGdhbGxlcnlaUENJRFNDXzAwNDA0MTMyMDIyMTAwNjI2LmpwZ2QCKA9kFgQCAQ8WBB8CBQIzMR8DBTAvcGhvdG9zL2pzZGdhbGxlcnlaUENJRFNDXzAwNDZBNDEzMjAyMjEwMDYxNi5qcGdkAgMPFgIfBAUxfi9waG90b3MvanNkZ2FsbGVyeVpQQ0lEU0NfMDA0NkE0MTMyMDIyMTAwNjE2LmpwZ2QCKQ9kFgQCAQ8WBB8CBQIzMB8DBTAvcGhvdG9zL2pzZGdhbGxlcnlaUENJRFNDXzAwNzBBNDEzMjAyMjEwMDYwNS5qcGdkAgMPFgIfBAUxfi9waG90b3MvanNkZ2FsbGVyeVpQQ0lEU0NfMDA3MEE0MTMyMDIyMTAwNjA1LmpwZ2QCKg9kFgQCAQ8WBB8CBQIyOR8DBU0vcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTA0LTAyIGF0IDUuNDQuNDcgUE0gKDIpNDIyMDIyNTU3MjYuanBlZ2QCAw8WAh8EBU5+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wNC0wMiBhdCA1LjQ0LjQ3IFBNICgyKTQyMjAyMjU1NzI2LmpwZWdkAisPZBYEAgEPFgQfAgUCMjgfAwVNL3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wNC0wMiBhdCA1LjQ0LjQyIFBNICgyKTQyMjAyMjU1NjM5LmpwZWdkAgMPFgIfBAVOfi9waG90b3MvanNkZ2FsbGVyeVdoYXRzQXBwIEltYWdlIDIwMjItMDQtMDIgYXQgNS40NC40MiBQTSAoMik0MjIwMjI1NTYzOS5qcGVnZAIsD2QWBAIBDxYEHwIFAjI3HwMFKS9waG90b3MvanNkZ2FsbGVyeUJhbm5lcjg0MjIwMjI1NTYwNS5qcGVnZAIDDxYCHwQFKn4vcGhvdG9zL2pzZGdhbGxlcnlCYW5uZXI4NDIyMDIyNTU2MDUuanBlZ2QCLQ9kFgQCAQ8WBB8CBQIyNh8DBSkvcGhvdG9zL2pzZGdhbGxlcnlCYW5uZXI3NDIyMDIyNTU1NTQuanBlZ2QCAw8WAh8EBSp+L3Bob3Rvcy9qc2RnYWxsZXJ5QmFubmVyNzQyMjAyMjU1NTU0LmpwZWdkAi4PZBYEAgEPFgQfAgUCMjQfAwVML3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS40NyBBTTMzMTIwMjIxMTQ4MjEuanBlZ2QCAw8WAh8EBU1+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS40NyBBTTMzMTIwMjIxMTQ4MjEuanBlZ2QCLw9kFgQCAQ8WBB8CBQIyMx8DBVAvcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjI4IEFNICgxKTMzMTIwMjIxMTQ4MDMuanBlZ2QCAw8WAh8EBVF+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4yOCBBTSAoMSkzMzEyMDIyMTE0ODAzLmpwZWdkAjAPZBYEAgEPFgQfAgUCMjIfAwVML3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4zOSBBTTMzMTIwMjIxMTQ3NTEuanBlZ2QCAw8WAh8EBU1+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4zOSBBTTMzMTIwMjIxMTQ3NTEuanBlZ2QCMQ9kFgQCAQ8WBB8CBQIyMR8DBVAvcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjUyIEFNICgxKTMzMTIwMjIxMTQ2MzMuanBlZ2QCAw8WAh8EBVF+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS41MiBBTSAoMSkzMzEyMDIyMTE0NjMzLmpwZWdkAjIPZBYEAgEPFgQfAgUCMjAfAwVML3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS41NyBBTTMzMTIwMjIxMTQ2MDQuanBlZ2QCAw8WAh8EBU1+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS41NyBBTTMzMTIwMjIxMTQ2MDQuanBlZ2QCMw9kFgQCAQ8WBB8CBQIxOR8DBVAvcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjU3IEFNICgxKTMzMTIwMjIxMTQ1NTEuanBlZ2QCAw8WAh8EBVF+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS41NyBBTSAoMSkzMzEyMDIyMTE0NTUxLmpwZWdkAjQPZBYEAgEPFgQfAgUCMTgfAwVQL3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS41NiBBTSAoMSkzMzEyMDIyMTE0NTM4LmpwZWdkAgMPFgIfBAVRfi9waG90b3MvanNkZ2FsbGVyeVdoYXRzQXBwIEltYWdlIDIwMjItMDMtMzEgYXQgMTAuMzkuNTYgQU0gKDEpMzMxMjAyMjExNDUzOC5qcGVnZAI1D2QWBAIBDxYEHwIFAjE3HwMFTC9waG90b3MvanNkZ2FsbGVyeVdoYXRzQXBwIEltYWdlIDIwMjItMDMtMzEgYXQgMTAuMzkuNTMgQU0zMzEyMDIyMTE0NTE4LmpwZWdkAgMPFgIfBAVNfi9waG90b3MvanNkZ2FsbGVyeVdoYXRzQXBwIEltYWdlIDIwMjItMDMtMzEgYXQgMTAuMzkuNTMgQU0zMzEyMDIyMTE0NTE4LmpwZWdkAjYPZBYEAgEPFgQfAgUCMTYfAwVML3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS40OSBBTTMzMTIwMjIxMTQ1MDAuanBlZ2QCAw8WAh8EBU1+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS40OSBBTTMzMTIwMjIxMTQ1MDAuanBlZ2QCNw9kFgQCAQ8WBB8CBQIxNR8DBUwvcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjQ4IEFNMzMxMjAyMjExNDQ0NS5qcGVnZAIDDxYCHwQFTX4vcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjQ4IEFNMzMxMjAyMjExNDQ0NS5qcGVnZAI4D2QWBAIBDxYEHwIFAjE0HwMFTC9waG90b3MvanNkZ2FsbGVyeVdoYXRzQXBwIEltYWdlIDIwMjItMDMtMzEgYXQgMTAuMzkuNDQgQU0zMzEyMDIyMTE0NDI1LmpwZWdkAgMPFgIfBAVNfi9waG90b3MvanNkZ2FsbGVyeVdoYXRzQXBwIEltYWdlIDIwMjItMDMtMzEgYXQgMTAuMzkuNDQgQU0zMzEyMDIyMTE0NDI1LmpwZWdkAjkPZBYEAgEPFgQfAgUCMTMfAwVML3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4zOCBBTTMzMTIwMjIxMTQ0MDUuanBlZ2QCAw8WAh8EBU1+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4zOCBBTTMzMTIwMjIxMTQ0MDUuanBlZ2QCOg9kFgQCAQ8WBB8CBQIxMh8DBUwvcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjM2IEFNMzMxMjAyMjExNDM1My5qcGVnZAIDDxYCHwQFTX4vcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjM2IEFNMzMxMjAyMjExNDM1My5qcGVnZAI7D2QWBAIBDxYEHwIFAjExHwMFUC9waG90b3MvanNkZ2FsbGVyeVdoYXRzQXBwIEltYWdlIDIwMjItMDMtMzEgYXQgMTAuMzkuMzUgQU0gKDEpMzMxMjAyMjExNDM0MS5qcGVnZAIDDxYCHwQFUX4vcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjM1IEFNICgxKTMzMTIwMjIxMTQzNDEuanBlZ2QCPA9kFgQCAQ8WBB8CBQIxMB8DBVAvcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjMzIEFNICgxKTMzMTIwMjIxMTQzMjkuanBlZ2QCAw8WAh8EBVF+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4zMyBBTSAoMSkzMzEyMDIyMTE0MzI5LmpwZWdkAj0PZBYEAgEPFgQfAgUBOR8DBVAvcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjMyIEFNICgxKTMzMTIwMjIxMTQzMTMuanBlZ2QCAw8WAh8EBVF+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4zMiBBTSAoMSkzMzEyMDIyMTE0MzEzLmpwZWdkAj4PZBYEAgEPFgQfAgUBOB8DBUwvcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjMxIEFNMzMxMjAyMjExNDIyMy5qcGVnZAIDDxYCHwQFTX4vcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjMxIEFNMzMxMjAyMjExNDIyMy5qcGVnZAI/D2QWBAIBDxYEHwIFATcfAwVML3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4zMCBBTTMzMTIwMjIxMTQyMDcuanBlZ2QCAw8WAh8EBU1+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4zMCBBTTMzMTIwMjIxMTQyMDcuanBlZ2QCQA9kFgQCAQ8WBB8CBQE2HwMFUC9waG90b3MvanNkZ2FsbGVyeVdoYXRzQXBwIEltYWdlIDIwMjItMDMtMzEgYXQgMTAuMzkuMzAgQU0gKDEpMzMxMjAyMjExNDE1OC5qcGVnZAIDDxYCHwQFUX4vcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjMwIEFNICgxKTMzMTIwMjIxMTQxNTguanBlZ2QCQQ9kFgQCAQ8WBB8CBQE1HwMFTC9waG90b3MvanNkZ2FsbGVyeVdoYXRzQXBwIEltYWdlIDIwMjItMDMtMzEgYXQgMTAuMzkuMjkgQU0zMzEyMDIyMTE0MTQ2LmpwZWdkAgMPFgIfBAVNfi9waG90b3MvanNkZ2FsbGVyeVdoYXRzQXBwIEltYWdlIDIwMjItMDMtMzEgYXQgMTAuMzkuMjkgQU0zMzEyMDIyMTE0MTQ2LmpwZWdkAkIPZBYEAgEPFgQfAgUBNB8DBVAvcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjI5IEFNICgxKTMzMTIwMjIxMTM5MTcuanBlZ2QCAw8WAh8EBVF+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4yOSBBTSAoMSkzMzEyMDIyMTEzOTE3LmpwZWdkAkMPZBYEAgEPFgQfAgUBMx8DBUwvcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjI4IEFNMzMxMjAyMjExMzkwNi5qcGVnZAIDDxYCHwQFTX4vcGhvdG9zL2pzZGdhbGxlcnlXaGF0c0FwcCBJbWFnZSAyMDIyLTAzLTMxIGF0IDEwLjM5LjI4IEFNMzMxMjAyMjExMzkwNi5qcGVnZAJED2QWBAIBDxYEHwIFATIfAwVQL3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4yOCBBTSAoMSkzMzEyMDIyMTEzODU2LmpwZWdkAgMPFgIfBAVRfi9waG90b3MvanNkZ2FsbGVyeVdoYXRzQXBwIEltYWdlIDIwMjItMDMtMzEgYXQgMTAuMzkuMjggQU0gKDEpMzMxMjAyMjExMzg1Ni5qcGVnZAJFD2QWBAIBDxYEHwIFATEfAwVML3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4zNSBBTTMzMTIwMjIxMTM4MzkuanBlZ2QCAw8WAh8EBU1+L3Bob3Rvcy9qc2RnYWxsZXJ5V2hhdHNBcHAgSW1hZ2UgMjAyMi0wMy0zMSBhdCAxMC4zOS4zNSBBTTMzMTIwMjIxMTM4MzkuanBlZ2Rkir6M7IQHlI2P8XNS1cgVkT/fEXk=" />
</div>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="B27F77C6" />
</div>
   
<div class="page-wrapper"> 	
    <!-- Preloader -->
 	

   


    <!-- Main Header-->
    <header class="main-header">
        <div class="header-top">
            <div class="container">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="main-logo">
                        <figure>
                            <a href="/"><img src="images/glf.png" alt="" class="img-responsive"></a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="main-header-info clearfix">
                        <div class="header-info">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <h6>Call Us:</h6>
                            <span>+91-8320469815, +91-9978022834</span>
                        </div>
                        <div class="header-info">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h6>Email Us:</h6>
                            <a href="mailto:dyfgujrat@email.com"><span>dyfgujarat@gmail.com</span></a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
                    
        <div class="header-lower">
            <div class="container">
                <div class="header-area">
                    <nav class="main-menu">
                        <div class="navbar-header clearfix">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="/">Home</a></li>
                                <li><a href="./about-us">About Us</a></li>
                                <!-- <li>
                                    <a href="members.html">Members</a>

                                </li>
                                <li>
                                    <a href="events.html">Events</a>

                                </li> -->
                                 <li class="current"><a href="./gallery"  style="color:#fff;">Gallery</a>
                                    <ul>
                                        <!-- <li><a href="./gallery">Gallery</a></li>  -->
                                        <!-- <li><a href="media.html">Media</a></li>  -->
                                    </ul>
                                </li>
                                <li>
                                    

                                </li>
                                <!-- <li>
                                    <a href="disciplinary-committee.html">Disciplinary Committee</a>

                                </li> -->

                                <li><a href="./contact">Contact Us</a></li>
                                <li><a href="./activity">Activity</a></li>

                            </ul>
                        </div>                    
                    </nav>
                    <div class="link-btn">
                        <a href="/register" class="theme-btn btn-style-one">Register Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sticky-header">
        	<div class="container clearfix">
                <!--Logo-->
                <div class="logo">
                    <a href="/"><img src="./images/glf.png" alt="" class="img-responsive" style="width: 300px"></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header clearfix">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="/">Home</a></li>
                                <li><a href="./about-us">About Us</a></li>
                                <!-- <li ><a href="members.html">Members</a>
                                 
                                </li>
                                <li><a href="events.html">Events</a>
                                   
                                </li> -->
                                <li class="current"><a href="./gallery" >Gallery</a>
                                    <ul>
                                        <!-- <li><a href="./gallery">Gallery</a></li>  -->
                                        <!-- <li><a href="media.html">Media</a></li>  -->
                                    </ul>
                                </li>
                                <!-- <li><a href="disciplinary-committee.html">Disciplinary Committee</a>
                                   
                                </li> -->
                                
                                <li><a href="./contact">Contact Us</a></li>
                                <li><a href="./activity">Activity</a></li>

                            </ul>
                        </div>                    
                    </nav><!-- Main Menu End-->
                </div>                
            </div>
        </div>
    </header>
    <!--End Main Header -->
    
    
       
    <!--Page Title-->
    <section class="page-title" style="background-image:url(./photos/new3.jpg);">
        <div class="container">
            <div class="title-text clearfix">
                <h1>Gallery</h1>
                <ul class="title-menu">
                    <li><a href="/">home</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                    <li><a href="./gallery">Gallery</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                    <li id="ctl00_ContentPlaceHolder1_galtitle">Banaskantha & Patan Para Sports Association</li>
                </ul>
            </div>           
        </div>
    </section>
    <!--End Page Title-->
    <!--Gallery Section-->
    <section class="gallery-section padd-top-70 padd-bott-70">
        <div class="container">    
            <!--Sortable Masonry-->
            <div class="sortable-masonry">
                <!--Filter-->
                
                <div class="row items-container clearfix">                    
                    <!--Default Portfolio Item-->
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/1.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl00_galimg" alt="75" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/1.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl00_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>


                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/mpi/mpi1.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl01_galimg" alt="74" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/mpi/mpi1.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl01_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/3.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl02_galimg" alt="73" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/3.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl02_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/4.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl03_galimg" alt="72" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/4.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl03_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/5.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl04_galimg" alt="71" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/5.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl04_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/6.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl05_galimg" alt="70" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/6.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl05_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                   
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/7.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl60_galimg" alt="10" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/7.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl60_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/8.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl61_galimg" alt="9" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/8.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl61_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/9.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl62_galimg" alt="8" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/9.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl62_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/10.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl63_galimg" alt="7" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/10.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl63_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/11.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl64_galimg" alt="6" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/11.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl64_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/mpi/mpi2.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl65_galimg" alt="5" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/mpi/mpi2.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl65_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/12.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl66_galimg" alt="4" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/12.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl66_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/13.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl67_galimg" alt="3" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/13.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl67_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/14.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl68_galimg" alt="2" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/14.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl68_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 masonry-item default-portfolio-item all charity education children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="./photos/2.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl69_galimg" alt="1" /></figure>
                            <div class="overlay-box text-center">           
                                <a href="./photos/2.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl69_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    
                
                </div>          
            </div>            
        </div>
    </section>
    <!--End Gallery Section-->
    <section class="gellary-subscribe">
        <div class="container">
            <div class="content-text clearfix">
                <h3>Lets make the <br><span>world better</span> together</h3>
                <div class="link-btn">
                    <a href="/register">register now</a>
                </div>
            </div>
        </div>
    </section>


   


    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="container">
            <!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row">                          
                    <!--Footer Column-->
                	<div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    	<div class="about-widget">
                            <div class="footer-logo">
                                <a href="/"><img src="images/glf.png" alt="" class="img-responsive"></a>
                            </div> 
                            <div class="widget-content">
                                <p>The Banaskantha & Patan Para Sports Association, which is a component of the Gujarat Paralympic Committee, made the decision to create this website in order to assist people with disabilities in registering for the future paralympic games.</p>
                            </div> 
                            <div class="link-btn">
                                <a href="./about-us">Read More</a>
                            </div>                 
                        </div>
                    </div>                            
                    <!--Footer Column-->
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <div class="links-widget">
                            <h4>quick links</h4>
                            <ul class="links-list">
                                <li><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
                                <li><a href="./about-us"><i class="fa fa-angle-right" aria-hidden="true"></i>About Us</a></li>
                                <li><a href="./gallery"><i class="fa fa-angle-right" aria-hidden="true"></i>Gallery</a></li>
                                <li><a href="./register"><i class="fa fa-angle-right" aria-hidden="true"></i>Register</a></li>
                                <li><a href="./contact"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact Us</a></li>
                                <li><a href="./activity"><i class="fa fa-angle-right" aria-hidden="true"></i>Activity</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <h4>other links</h4>
                        <ul class="links-list">
                            <li><a href="https://paralympicindia.org.in/web/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Paralympic Committee of India</a></li>
                            <li><a href="https://www.paralympic.org/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>International Paralympic Committee</a></li>
                            <li><a href="https://asianparalympic.org/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Asian Paralympic Committee</a></li>
                            <li><a href="https://kheloindia.gov.in/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Khelo India</a></li>
                            <li><a href="https://yas.nic.in/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Ministry of Youth Affairs and Sports</a></li>
                            <li><a href="https://olympics.com/tokyo-2020/en/paralympics/sports/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>The Tokyo Organising Committee of the Olympic and Paralympic Games</a></li>
                            
                        </ul>
                    </div>
                    <!--Footer Column-->
                	<div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    	<div class="contact-links">
                            <h4>contact us</h4>                       	
                           
                            <div class="widget-content">
                                <div class="footer-info">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <p>Ambetha Post, Ratanpur,<br/> 
                                Taluka-Palanpur, District-Banaskantha,<br/>
                                Gujarat, Pin-385001.
                            </p>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <p>+91-8320469815, +91-9978022834</p>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <a href="mailto:dyfgujrat@email.com"><p>dyfgujarat@gmail.com</p></a>
                                </div>
                                <div class="footer-info" style="margin-left:0px;">
                                    <div class="icon-links" style="margin-left:0px;">
                                        <a href="https://www.facebook.com/UpParaSportsAssociation/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="https://www.instagram.com/UpParaSportsAssociation/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="https://www.youtube.com/channel/UCx3N3XgtDIB9G_g5or2TxAg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>               	                            
                    <!--Footer Column-->
                	                  
                </div>
            </div>         
        </div>        
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="container">
                <div class="copyright-text text-center">Copyright &copy; 2022 Banaskantha & Patan Para Sports Association. All Rights Reserved</div>
            </div>            
        </div>         
    </footer>
    <!--Main Footer-->


</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>



     
    
    </form>
    <script src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/jquery-2.1.4.js"></script> 
<script src="./js/jquery.bxslider.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="./js/jquery-ui.min.js"></script>
<script src="./js/revolution.min.js"></script>
<script src="./js/isotope.js"></script>
<script src="./js/jquery.fancybox.pack.js"></script>
<script src="./js/jquery.fancybox-media.js"></script>
<script src="./js/html5lightbox.js"></script>
<script src="./js/circle-progress.js"></script>
<script src="./js/owl.js"></script>
<script type="text/javascript" src="./js/jquery.mixitup.min.js"></script>
<script src="./js/masterslider/masterslider.js"></script>
<script src="./js/owl.carousel.min.js"></script>
<script src="./js/mixitup.js"></script>
<script src="./js/validate.js"></script>
<script src="./js/wow.js"></script>
<script src="./js/jquery.appear.js"></script>
<script src="./js/jquery.countTo.js"></script>
<script src="./js/script.js"></script>
</body>

<!-- Mirrored from upparasports.in/photogallery/20th-National-Para-Athletics-Championship-2022-Bhubaneswar--Odisha-/18 by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Dec 2022 16:15:34 GMT -->
</html>
