

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from upparasports.in/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Dec 2022 15:49:15 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head><title>
	Banaskantha & Patan Para Sports Association
</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet" /><link href="css/revolution-slider.css" rel="stylesheet" /><link href="css/style.css" rel="stylesheet" />
<!--Favicon-->
<link rel="shortcut icon" href="images/uppsalogoicon.jpg" type="image/jpg" /><link rel="icon" href="images/uppsalogoicon.jpg" type="image/jpg" />
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /><link href="css/responsive.css" rel="stylesheet" /><link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet" /><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap" rel="stylesheet" />
    <style type="text/css">
.modalBackground
{
background-color: Gray;
filter: alpha(opacity=80);
opacity: 0.8;
z-index: 10000;
}



</style>
<script language="javascript" type="text/javascript">
    function closepopup() {
        $find('ModalPopupExtender1').hide();
    }

</script>
</head>
<body>
    <form name="aspnetForm" method="post" action="/" onsubmit="" id="aspnetForm">
<div>
<input type="hidden" name="ctl00_ContentPlaceHolder1_ToolkitScriptManager1_HiddenField" id="ctl00_ContentPlaceHolder1_ToolkitScriptManager1_HiddenField" value="" />
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value=""/>
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="WebResource0b31.js?d=tNllEADMFDPfQ_nY2m5A87fHL4vZ5AQMmimAcv3BMg-a0MDrcEMxopmiglibRAmiW0UZEy7LjXR08av-YgmHRmM20eY1&amp;t=637461179481343508" type="text/javascript"></script>


<script src="ScriptResource3612.js?d=bU6Q6hLZ6tUdiEHLyQ7FeO9ziw5h4V0DqlwgTEvAUSYNW_JEumM6JESo2yAA4Irsxlp-hjzzbWLLkhmTdgUD2qs2XYhryN4ajUEG-T7uus28nVGL06pkNf_pfo0xj9QZ1WZUS52uvNZ8QNwKFwq2GsYCTqQ1&amp;t=fffffffff6474071" type="text/javascript"></script>
<script src="ScriptResource3ab1.js?d=ZjtwwMy3Cer2CMiAuF410RSUU6QaDgQtC9BACbbAraNN8kJ5FsoJylfN1SeygwiR_CQ-3vyj5OH1tJD97lTcGtHDYlFXq5S1yyRpMCrq2k0NXkE1kWaXckKsVO23iGS73mpD5g2&amp;t=ffffffffecf8d3f2" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
</script>

<script src="ScriptResource9533.js?d=RwLmw_HLZNGBjmkOiIyRpc1TC84mGfyW8LlrKzdBQdiSOc1oJDnNJ9PbDxyitWWoxJ_OM_eGHahnNgwHqMXunm8r9WJuix72S4tRVgRArdHgpvxNhBr9upTgXi6r0RwV1Z_PhYNatOLXig31DFZ88zKejnQ1&amp;t=ffffffffecf8d3f2" type="text/javascript"></script>
<script src="Default60f3.js?_TSM_HiddenField_=ctl00_ContentPlaceHolder1_ToolkitScriptManager1_HiddenField&amp;_TSM_CombinedScripts_=%3b%3bAjaxControlToolkit%2c+Version%3d3.5.7.123%2c+Culture%3dneutral%2c+PublicKeyToken%3d28f01b0e84b6d53e%3aen-US%3a5a4df314-b4a2-4da2-a207-9284f1b1e96c%3a475a4ef5%3a5546a2b%3ad2e10b12%3aeffe2a26%3a37e2e5c9%3a1d3ed089%3a751cdd15%3adfad98a5%3a497ef277%3aa43b07eb%3a3cf12cf1" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAg/+XOZ/nxGTKeQ7HPE8unWITAC/yfRjqZIixmnZPRfi8S63KnrtlYkNQ4bgfHZcSfN5XVbrp0y8RANQtoF5cyQ0MESdjp/mirK+KbPlTyISr8GYC8pJzP6aTtxllCFNDE6kt+dNzIjq38PLQ5FYTD85+rWxcjBMnlVJXaeq51ngjDA1Bw9XWVvMpZrg1VO0inpaM8M" />
</div>
   
<div class="page-wrapper"> 	
    <!-- Preloader -->
 	

   


    <!-- Main Header-->
    <header class="main-header">
        <div class="header-top">
            <div class="container">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="main-logo">
                        <figure>
                            <a href="/"><img src="./images/gujaratlogofooter.png" alt="" class="img-responsive" ></a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="main-header-info clearfix">
                        <div class="header-info">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <h6>Call Us:</h6>
                            <span>+91-9971060444, +91-9818563636</span>
                        </div>
                        <div class="header-info">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h6>Email Us:</h6>
                            <a href="mailto:dyfgujrat@email.com"><span>dyfgujarat@gmail.com</span></a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
                    
        <div class="header-lower">
            <div class="container">
                <div class="header-area">
                    <nav class="main-menu">
                        <div class="navbar-header clearfix">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current" ><a href="/" style="color:#fff;">Home</a></li>
                                <li><a href="./about-us">About Us</a></li>
                                <!-- <li>
                                    <a href="members.html">Members</a>

                                </li>
                                <li>
                                    <a href="events.html">Events</a>

                                </li> -->
                                 <li class=""><a href="./gallery">Gallery</a> <!--removed class   "dropdown from gallery"   -->
                                    <ul>
                                        <!-- <li><a href="./gallery">Gallery</a></li>  -->
                                        <!-- <li><a href="media.html">Media</a></li>  -->
                                    </ul>
                                </li>
                                <li>
                                    

                                </li>
                                <!-- <li>
                                    <a href="disciplinary-committee.html">Disciplinary Committee</a>

                                </li> -->

                                <li><a href="./contact">Contact Us</a></li>
                                <li><a href="./activity">Activity</a></li>
                            </ul>
                        </div>                    
                    </nav>
                    <div class="link-btn">
                        <a href="./register" class="theme-btn btn-style-one">Register Now</a>
                    </div>
                   

                    <!-- <form>
                  <button id="pl_Ky1fWetOa4XzBR"></button>
                        <script  src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Ky1fWetOa4XzBR" async>
                            
                        </script>
                         </form> -->
                </div>
            </div>
        </div>

        <div class="sticky-header">
        	<div class="container clearfix">
                <!--Logo-->
                <div class="logo">
                    <a href="/"><img src="./images/gujaratlogofooter.png" alt="" class="img-responsive" style="width: 300px"></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header clearfix">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="/">Home</a></li>
                                <li><a href="./about-us">About Us</a></li>   
                                <li class=""><a href="./gallery">Gallery</a>
                                    <ul>
                                        <!-- <li><a href="./gallery">Gallery</a></li> 
                                        <li><a href="media.html">Media</a></li>  -->
                                    </ul>
                                </li>
                                <!-- <li><a href="disciplinary-committee.html">Disciplinary Committee</a>
                                   
                                </li> -->
                                
                                <li><a href="./contact">Contact Us</a></li>
                                <li><a href="./activity">Activity</a></li>

                            </ul>
                        </div>                    
                    </nav><!-- Main Menu End-->
                </div>                
            </div>
        </div>
    </header>
    <!--End Main Header -->
    
    
       
      <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ContentPlaceHolder1$ToolkitScriptManager1', 'aspnetForm', [], [], [], 90, 'ctl00');
//]]>
</script>

    <!--Main Slider-->
    <section class="main-slider">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                      
                    <li id="ctl00_ContentPlaceHolder1_rptbanner_ctl00_bannerli" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Awesome Title Here" data-thumb="homebanner/homebanBanner13312022114915.jpg">
                        <img src="homebanner/hb1.jpg" id="ctl00_ContentPlaceHolder1_rptbanner_ctl00_bannerimg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />                  
                        
                    </li>
                       
                    <li id="ctl00_ContentPlaceHolder1_rptbanner_ctl01_bannerli" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Awesome Title Here" data-thumb="homebanner/homebanBanner23312022114958.jpeg">
                        <img src="homebanner/hb3.jpg" id="ctl00_ContentPlaceHolder1_rptbanner_ctl01_bannerimg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />                  
                        
                    </li>
                       
                    <li id="ctl00_ContentPlaceHolder1_rptbanner_ctl02_bannerli" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Awesome Title Here" data-thumb="homebanner/homebanBanner742202255238.jpeg">
                        <img src="homebanner/hb2.jpg" id="ctl00_ContentPlaceHolder1_rptbanner_ctl02_bannerimg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />                  
                        
                    </li>
                       
                    <li id="ctl00_ContentPlaceHolder1_rptbanner_ctl03_bannerli" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Awesome Title Here" data-thumb="homebanner/homebanWhatsApp Image 2022-03-31 at 10.39.33 AM3312022112602.jpeg">
                        <img src="homebanner/hb4.jpg" id="ctl00_ContentPlaceHolder1_rptbanner_ctl03_bannerimg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />                  
                        
                    </li>
                       
                    <li id="ctl00_ContentPlaceHolder1_rptbanner_ctl04_bannerli" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Awesome Title Here" data-thumb="homebanner/homebanBanner43312022115215.jpeg">
                        <img src="homebanner/hb5.jpg" id="ctl00_ContentPlaceHolder1_rptbanner_ctl04_bannerimg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />                  
                        
                    </li>
                       
                    <!-- <li id="ctl00_ContentPlaceHolder1_rptbanner_ctl05_bannerli" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Awesome Title Here" data-thumb="homebanner/homebanBanner842202255421.jpeg">
                        <img src="homebanner/homebanBanner842202255421.jpg" id="ctl00_ContentPlaceHolder1_rptbanner_ctl05_bannerimg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />                  
                        
                    </li> -->
                       
                </ul>                
            	<div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>
    <!--End Main Slider-->


    


    <!--welcome-section-->
    <section class="welcome-section">
        <div class="container">
            <div class="sec-title text-center welcomeheading">
                <h3 style="line-height:45px;">Welcome To<br/><span> Banaskantha & Patan Para Sports Association</span></h3>
                <!-- <h5>(AFFILIATED TO PARALYMPIC COMMITTEE OF INDIA)</h5>
                <h5>(PCI- RECOGNIZED BY GOVERNMENT OF INDIA)</h5> -->
                
            </div>
            <div class="row">

                <style>
                    @media screen and (max-width:1200px){
                        .homeban{
                            margin-left:50px;
                        }
                    }
                    @media screen and (max-width:700px){
                    .homeban{
                        margin-left:35px ;
                    }
                    }
                    @media screen and (max-width:500px){
                    .homeban{
                        margin-left:18px ;
                    }
                    }
                </style>
                
                <div class="image-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="image-holder">
                        <figure>
                            <img class="homeban" style="border-radius: 15px; width: 90%; box-shadow: 1px 5px 11px #00000080;" src="./homebanner/hb3.jpg" alt="">
                        </figure>
                    </div>
                </div>
                <div class="image-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="image-content">

                        <style>
                            @media screen and (min-width:600px) and (max-width:1200px) {
                                .item-list{
                                    margin-top: 50px;
                                    margin-right:50px;
                                }
                            }
                        </style>
                      
                        <div class="item-list">

                            <p style="margin-top: 12%;">Disabled Youth Foundation Disability (which includes disabled persons with mobility disabilities, amputations, blindness and cerebral palsy). <br/>
                                This district level organization has affiliation with the state level sports organization. <br/> Every year the organization organizes district level indoor outdoor competitions in different taluks of the district and provides primary guidance training to talented athletes and sends them to participate in national and international level at the state level. Talented athletes are given primary guidance training</p>
                           
                            <!-- <p>
                                The Paralympic Committee of India (PCI) is the organisation in charge of choosing the athletes who would represent India at the Paralympic Games and other international sports competitions, as well as of managing the Indian teams at the competitions.
                            </p>
                            <p>Paralympic Games are major international multi-sport events wherein athletes with physical disability compete (including those athletes with mobility disabilities, amputations, blindness, and Cerebral Palsy).</p>
                            <p>The organisation was founded in 1992 as the Physically Handicapped Sports Federation of India.</p>
                            <p>The Banaskantha & Patan Para Sports Association, which is a component of the Gujarat Paralympic Committee, made the decision to create this website in order to assist people with disabilities in registering for the future paralympic games.</p>
                            <!-- <p>Banaskantha & Patan Para Sports Association is affiliated to Paralympic Committee of India (PCI- Recognized by Government of India) which is at par with Indian Olympic Association. </p> -->
                        </div>
                    </div>
                </div>
                  <!-- <div class="image-column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-content">
                      
                        <div class="item-list">
                            <p>The Paralympic Committee in turn is affiliated to International Paralympic committee (IPC). UP Para Sports Association is registered under "THE SOCITIES REGISTRATION ACT, 1860". UP Para Sports Association was initially established by Registrar of Societies Govt. of Banaskantha & Patan, under the Societies Registration Act, XXI of 1860 with the name of Paralympic Committee of Banaskantha & Patan. As per guidelines of Paralympic Committee of India the Association has changed its name from Paralympic Committee of Banaskantha & Patan to UP Para Sports Association.</p>
                            <p>
                                UP Para Sports Association has been continuously making efforts for development of Sports amongst divyang persons in Banaskantha & Patan state since year 2009 and providing a great platform to excel in Sports. The sincere and dedicated efforts of UP Para Sports Association has shown the results in the Sportsperson who have already represented India in National and International Sports events like Para-Olympics. More than 100 Para players from Banaskantha & Patan State have already been participated in International Events. 
                            </p> -->
                            </div>
                        </div>
                      </div> -->
            </div>
        </div>
    </section>
    <!--End welcome-section-->


    <!--volunteers-section-->
    <section class="volunteers-section">
        <div class="container">
            <div class="sec-title text-center" style="padding-bottom: 25px;">
                <h3><span>PARALYMPIC</span> GAMES</h3>
                <p></p>
            </div>
            <div class="row">
              <div class="image-column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-content">
                      
                        <div class="item-list">
                            <p>Paralympic Games are major international multi-sport events wherein athletes with physical disability compete (including those athletes with mobility disabilities, amputations, blindness, and Cerebral Palsy). There are winter and Summer Paralympic Games which are held immediately following their respective Olympic Games. All Paralympic Games are governed by the International Paralympic Committee (IPC).</p>
                            <p>
                               The first Games were called the 1948 International Wheelchair Games, and were intended to coincide with the 1948 Olympics-the first organized athletic event for disabled athletes which took place on the day of the opening of the 1948 Summer Olympics in London, United Kingdom. Dr. Ludwig Guttmann of Stoke Mandeville Hospital hosted a sports competition for British World War II veteran patients with spinal cord injuries. Four years later, competitors from the Netherlands joined the games and an international movement was born. Olympic style games for athletes with a disability were organized for the first time in Rome in 1960, now called Paralympics.
                            </p>
                            <p>The Paralympic Games have always been held in the same year as the Olympic Games. Since the Seoul 1988 Paralympic Games and the Albertville 1992 Winter Paralympic Games they have also taken place at the same venues as the Olympics. On 19 June 2001, an agreement was signed between the IOC and the IPC securing this practice for the future.</p>
                            <p style="text-align:center;"><b><i>"Every Paralympic
                                        Contestants are a great
                                        Inspirations and model to
                                        Many of us. Let's be
                                        Inspired!"</i>
                                </b></p>
                            <!-- <p>UP PARA SPORTS ASSOCIATION affiliated State of Paralympic Committee of India (PCI) conduct state meets every year. In such meets UP PARA SPORTS ASSOCIATION short list the best Athletes. Whenever PCI announces its annual National Championships these PCI affiliated State / UT units and Sports/disability wise associations will send entries out of the short listed players selected in their meets through the respective affiliated State Units only. PCI will look into such lists and again short list the best players for competing in the National Championships.</p> -->
                            </div>
                        </div>
                      </div>
            </div>
        </div>
    </section>
    <!--End volunteers-section-->


    <div class="form-group">
        <a href="./passportpdfdownload.pdf" target="_blank" download="passportpdfdownload.pdf">Download</a>
         
     </div>


    <!--gellary-fullwidth section-->
    <section class="gellary-fullwidth" style="padding: 90px 20px 20px;">
        <div class="container-fullwidth">
            <div class="sec-title text-center">
                <h3>our <span>gallery</span></h3>
                <p></p>
            </div>
            <div class="row inner-container">
                 
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="img_holder">
                            <img src="photos/mpi/mpi1.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl00_galimg" alt="images" class="img-responsive photocurve" />
                        </div>
                        <div class="overlay-box text-center">                           
                            <a href="photos/mpi/mpi1.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl00_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                        </div> 
                    </div>                                           
                </div>
             
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="img_holder">
                            <img src="photos/mpi/mpi2.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl01_galimg" alt="images" class="img-responsive photocurve" />
                        </div>
                        <div class="overlay-box text-center">                           
                            <a href="photos/mpi/mpi2.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl01_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                        </div> 
                    </div>                                           
                </div>
             
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="img_holder">
                            <img src="photos/mpi/mpi3.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl02_galimg" alt="images" class="img-responsive photocurve" />
                        </div>
                        <div class="overlay-box text-center">                           
                            <a href="photos/mpi/mpi3.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl02_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                        </div> 
                    </div>                                           
                </div>
             
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="img_holder">
                            <img src="photos/mpi/mpi4.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl03_galimg" alt="images" class="img-responsive photocurve" />
                        </div>
                        <div class="overlay-box text-center">                           
                            <a href="photos/mpi/mpi4.jpg" id="ctl00_ContentPlaceHolder1_rptphoto_ctl03_gallink" class="fancybox"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                        </div> 
                    </div>                                           
                </div>
             
               

            </div>
        </div>
        <div class="viewmore" style="">
            <a href="./gallery">View More</a>
        </div>
    </section>
    <!--End gellary-fullwidth section-->


    <!--subscribe section-->
    <section class="gellary-subscribe">
        <div class="container">
            <div class="content-text clearfix">
                <h3>Lets make the <br><span>world better</span> together</h3>
                <div class="link-btn">
                    <a href="./register">register now</a>
                </div>
            </div>
        </div>
    </section>
    <!--subscribe section-->


    <!--events-section-->
    <!-- <section class="events-section" style="background-color:#f5f5f5;">
        <div class="container">
            <div class="row"> -->
                <!-- <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="sec-title">
                        <h3>Our <span>Events</span></h3>
                    </div>
                    <div class="events-slide">
                         
                        <div class="slide-item">
                            <div class="left-side">
                                <div class="image-box">
                                    <figure>
                                        <a href="eventdetails/3rd-National-Para-Shooting-Championship-2022/21.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl00_eventlink1"><img src="event/eventimage_750x_6370a14acdea311182022111314.jpg" id="ctl00_ContentPlaceHolder1_rptevents_ctl00_eventimg" alt="3rd National Para Shooting Championship-2022" /></a>
                                    </figure>
                                </div>
                                <h5><span id="ctl00_ContentPlaceHolder1_rptevents_ctl00_lbldate">16</span><br><span id="ctl00_ContentPlaceHolder1_rptevents_ctl00_lblmonth">Dec</span></h5>
                            </div>
                            <div class="right-side comment">
                                <a href="eventdetails/3rd-National-Para-Shooting-Championship-2022/21.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl00_eventlink2"><h4>3rd National Para Shooting Championship-2022</h4></a>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 AM - 05:00 PM</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Indore, Madhya Pradesh</li>
                                </ul>
                                <p>STC Shooting under the aegis of the Paralympic Committee of India (PCI) will be organizing 3rd National 
Para Shooting Championship, 2022 in Rifle/Pistol/Shotgun will be held at AMU Shooting Ranges, MHOW, 
Indore, Madhya Pradesh from 16th to 20th December, 2022 as per rules and regulations under STC Shooting 
- PCI Match Book 2022.  </p>
                            </div>
                        </div>
                        
                        <div class="slide-item">
                            <div class="left-side">
                                <div class="image-box">
                                    <figure>
                                        <a href="eventdetails/-3rd-Zonal-Para-Shooting-Championship--2022/17.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl01_eventlink1"><img src="event/eventimage_750x_635926358076e11182022104549.jpg" id="ctl00_ContentPlaceHolder1_rptevents_ctl01_eventimg" alt=" 3rd Zonal Para Shooting Championship. 2022" /></a>
                                    </figure>
                                </div>
                                <h5><span id="ctl00_ContentPlaceHolder1_rptevents_ctl01_lbldate">11</span><br><span id="ctl00_ContentPlaceHolder1_rptevents_ctl01_lblmonth">Dec</span></h5>
                            </div>
                            <div class="right-side comment">
                                <a href="eventdetails/-3rd-Zonal-Para-Shooting-Championship--2022/17.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl01_eventlink2"><h4> 3rd Zonal Para Shooting Championship. 2022</h4></a>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 AM to 05:00 PM</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Indore, Madhya Pradesh</li>
                                </ul>
                                <p>STC Shooting under the aegis of the Paralympic Committee of India GCD be organizing 3rd Zonal
(North, South, East, West, Central) Para Shooting Championship, 2022 in Rifle / Pistol will be held at AMU
Shooting Ranges, MHOW, Indore, Madhya Pradesh from llth to l5th December, 2022 as per rules and
regulations under STC Shooting - PCI Match Book.
 </p>
                            </div>
                        </div>
                        
                        <div class="slide-item">
                            <div class="left-side">
                                <div class="image-box">
                                    <figure>
                                        <a href="eventdetails/XXII-National-Para-Swimming-Championships--2022/16.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl02_eventlink1"><img src="event/eventScreenshot%202022-11-18%2010282311182022103241.png" id="ctl00_ContentPlaceHolder1_rptevents_ctl02_eventimg" alt="XXII-National Para Swimming Championships, 2022" /></a>
                                    </figure>
                                </div>
                                <h5><span id="ctl00_ContentPlaceHolder1_rptevents_ctl02_lbldate">11</span><br><span id="ctl00_ContentPlaceHolder1_rptevents_ctl02_lblmonth">Nov</span></h5>
                            </div>
                            <div class="right-side comment">
                                <a href="eventdetails/XXII-National-Para-Swimming-Championships--2022/16.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl02_eventlink2"><h4>XXII-National Para Swimming Championships, 2022</h4></a>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 AM to 05:00 PM</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Guwahati, Assam</li>
                                </ul>
                                <p>We are glad to inform you that our XXll-National Para Swimming Championships, 2022 will be
conducted at Dr. Zakir Hussain Aquatic Complex, Guwahati, Assam from November 11 -13, 2022.
The Championship is hosted by our affiliated unit Para Sports Association of Assam under the
auspices of Paralympic Committee of lndia </p>
                            </div>
                        </div>
                        
                        <div class="slide-item">
                            <div class="left-side">
                                <div class="image-box">
                                    <figure>
                                        <a href="eventdetails/IV-Indian-Open-Para-Athletics-Championships-2022/15.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl03_eventlink1"><img src="event/eventcustom_resized_e52c1942-94f0-4b73-9d45-08b2023f61de87202220720.jpg" id="ctl00_ContentPlaceHolder1_rptevents_ctl03_eventimg" alt="IV Indian Open Para Athletics Championships 2022" /></a>
                                    </figure>up
                                </div>
                                <h5><span id="ctl00_ContentPlaceHolder1_rptevents_ctl03_lbldate">17</span><br><span id="ctl00_ContentPlaceHolder1_rptevents_ctl03_lblmonth">Aug</span></h5>
                            </div>
                            <div class="right-side comment">
                                <a href="eventdetails/IV-Indian-Open-Para-Athletics-Championships-2022/15.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl03_eventlink2"><h4>IV Indian Open Para Athletics Championships 2022</h4></a>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 AM to 05:00 PM</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Bengaluru</li>
                                </ul>
                                <p>We are pleased to inform you that the IV Indian Open National Para Athletics Championship-2022 has been scheduled to be held at Sree Kanteerava Stadium, Bengaluru, Karnataka from 17th to 20th August 2022. And this Championship is approved by the World Para Athletics. The list of events to be held at the IV Indian Open National Para-Athletics Championships-2022 includes the events which are conducted in the Paralympic Games 2024, Para Asian Games & Commonwealth Games 2022.  </p>
                            </div>
                        </div>
                        
                        <div class="slide-item">
                            <div class="left-side">
                                <div class="image-box">
                                    <figure>
                                        <a href="eventdetails/Annual-General-Body-Meeting-of-Banaskantha-&-Patan-Para-Sports-Association/14.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl04_eventlink1"><img src="event/eventAnnexure-0332202224937.jpg" id="ctl00_ContentPlaceHolder1_rptevents_ctl04_eventimg" alt="Annual General Body Meeting of Banaskantha & Patan Para Sports Association" /></a>
                                    </figure>
                                </div>
                                <h5><span id="ctl00_ContentPlaceHolder1_rptevents_ctl04_lbldate">12</span><br><span id="ctl00_ContentPlaceHolder1_rptevents_ctl04_lblmonth">Mar</span></h5>
                            </div>
                            <div class="right-side comment">
                                <a href="eventdetails/Annual-General-Body-Meeting-of-Banaskantha-&-Patan-Para-Sports-Association/14.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl04_eventlink2"><h4>Annual General Body Meeting of Banaskantha & Patan Para Sports Association</h4></a>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>2:00 PM</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Ghaziabad, Banaskantha & Patan</li>
                                </ul>
                                <p>The Annual General Body Meeting of Banaskantha & Patan Para Sports Association will be held on the 12th March, 2022 </p>
                            </div>
                        </div>
                        
                        <div class="slide-item">
                            <div class="left-side">
                                <div class="image-box">
                                    <figure>
                                        <a href="eventdetails/6th-U-P--STATE-PARA-POWERLIFTING-CHAMPIONSHIP--2022/13.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl05_eventlink1"><img src="event/eventAnnexure-0232202224707.jpg" id="ctl00_ContentPlaceHolder1_rptevents_ctl05_eventimg" alt="6th U.P. STATE PARA POWERLIFTING CHAMPIONSHIP- 2022" /></a>
                                    </figure>
                                </div>
                                <h5><span id="ctl00_ContentPlaceHolder1_rptevents_ctl05_lbldate">12</span><br><span id="ctl00_ContentPlaceHolder1_rptevents_ctl05_lblmonth">Mar</span></h5>
                            </div>
                            <div class="right-side comment">
                                <a href="eventdetails/6th-U-P--STATE-PARA-POWERLIFTING-CHAMPIONSHIP--2022/13.html" id="ctl00_ContentPlaceHolder1_rptevents_ctl05_eventlink2"><h4>6th U.P. STATE PARA POWERLIFTING CHAMPIONSHIP- 2022</h4></a>
                                <ul>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>07:30 AM to 05:00 PM</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Ghaziabad, Banaskantha & Patan</li>
                                </ul>
                                <p>The registration for the Banaskantha & Patan State Para Powerlifting Championship 12th –13th March, 2022 in the Para Sports event has been started. </p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="slider-pager">
                        <ul class="nav-link list-inline">
                            <li id="slider-prev"></li>
                            <li id="slider-next"></li>
                        </ul>                     
                    </div>                  
                </div> -->
                

                <section class="contact-section" style="padding:90px 0px 0px 0px; background-color:#f5f5f5;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="sec-title">
                                    <h3>Contact <span>Info</span></h3>
                                </div>                    
                                <ul class="contact-list">
                                    <li class="item">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <h5>Head Office</h5>
                                        <p>Ahmedabad, Gujarat</p>
                                    </li>
                                    <li class="item">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <h5>Registered Office
            </h5>
                                        <p>Coming Soon</p>
                                    </li>
                                    <li class="item">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <h5>Phone</h5>
                                        <p>00000 00000,<br /> 00000 00000</p>
                                    </li>
                                    <li class="item">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <h5>Email</h5>
                                        <p>abc@gmail.com </p>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="sec-title">
                                    <h3>Send <span>Message</span></h3>
                                </div>                    
                                
                                <form action="/contact" method="POST" class="wpcf7-form init" novalidate="novalidate">
                                    <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="55" />
                                    <input type="hidden" name="_wpcf7_version" value="5.6" />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f55-p34-o1" />
                                    <input type="hidden" name="_wpcf7_container_post" value="34" />
                                    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                    </div>
                                    <div class="col-lg-6">
                                    <div class="form-group">
                                    <!-- <label for="form-name">Name</label><br /> -->
                                    <span class="wpcf7-form-control-wrap" ><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required wpcf7-validates-as-name form-control" id="name" aria-required="true" aria-invalid="false" placeholder="Your Name"  style="padding:26px; margin:30px 40px 0px 0px;"/></span>
                                    </div>
                                    <div class="form-group">
                                    <!-- <label for="form-email">Email</label><br /> -->
                                    <span class="wpcf7-form-control-wrap" ><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="email" aria-required="true" aria-invalid="false" placeholder="Your Email"  style="padding:26px; margin:30px 40px 0px 0px;"/></span>
                                    </div>
                                    <div class="form-group">
                                    <!-- <label for="form-company">Company</label><br /> -->
                                    <span class="wpcf7-form-control-wrap" ><input type="text" name="company" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required wpcf7-validates-as-company form-control" id="company" aria-required="true" aria-invalid="false" placeholder="Your Company"  style="padding:26px; margin:30px 40px 0px 0px;"/></span>
                                    </div>
                                    </div>
                                    <div class="col-lg-6">
                                    <div class="form-group mb--40">
                                    <!-- <label for="form-help">How can we help you?</label><br /> -->
                                    <span class="wpcf7-form-control-wrap"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" id="message" aria-required="true" aria-invalid="false" placeholder="Your Message" style="padding:15px; margin:21px 40px 0px 0px;"></textarea></span>
                                    </div>
                                    <div class="form-group" style="float:right;">
                                    <input type="submit" value="Submit" class="wpcf7-form-control has-spinner wpcf7-submit axil-btn btn-fill-primary btn-fluid btn-style-two" />
                                    </div></div>
                                    <div class="wpcf7-response-output" aria-hidden="true"></div></form>


                            </div>
                        </div>
                    </div>
                </section>
            <!-- </div>
        </div>
    </section> -->
    <!--End events-section-->

    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="container">
            <!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row">                          
                    <!--Footer Column-->
                	<div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    	<div class="about-widget">
                            <div class="footer-logo">
                                <a href="/"><img src="images/gujaratlogofooter.png" alt="" class="img-responsive"></a>
                            </div> 
                            <div class="widget-content">
                                <p>The Banaskantha & Patan Para Sports Association, which is a component of the Gujarat Paralympic Committee, made the decision to create this website in order to assist people with disabilities in registering for the future paralympic games.</p>
                            </div> 
                            <div class="link-btn">
                                <a href="./about-us">Read More</a>
                            </div>                 
                        </div>
                    </div>                            
                    <!--Footer Column-->
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <div class="links-widget">
                            <h4>quick links</h4>
                            <ul class="links-list">
                                <li><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
                                <li><a href="./about-us"><i class="fa fa-angle-right" aria-hidden="true"></i>About Us</a></li>
                                <li><a href="./gallery"><i class="fa fa-angle-right" aria-hidden="true"></i>Gallery</a></li>
                                <li><a href="./register"><i class="fa fa-angle-right" aria-hidden="true"></i>Register</a></li>
                                <li><a href="./contact"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact Us</a></li>
                                <li><a href="./activity"><i class="fa fa-angle-right" aria-hidden="true"></i>Activity</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <h4>other links</h4>
                        <ul class="links-list">
                            <li><a href="https://paralympicindia.org.in/web/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Paralympic Committee of India</a></li>
                            <li><a href="https://www.paralympic.org/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>International Paralympic Committee</a></li>
                            <li><a href="https://asianparalympic.org/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Asian Paralympic Committee</a></li>
                            <li><a href="https://kheloindia.gov.in/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Khelo India</a></li>
                            <li><a href="https://yas.nic.in/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Ministry of Youth Affairs and Sports</a></li>
                            <li><a href="https://olympics.com/tokyo-2020/en/paralympics/sports/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>The Tokyo Organising Committee of the Olympic and Paralympic Games</a></li>
                            
                        </ul>
                    </div>
                    <!--Footer Column-->
                	<div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    	<div class="contact-links">
                            <h4>contact us</h4>                       	
                           
                            <div class="widget-content">
                                <div class="footer-info">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <p>Sh. 299, Shastri Nagar,<br> Ghaziabad (U.P.) - 201001</p>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <p>+91-9971060444, +91-9818563636</p>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <a href="#"><p>pcup.pci@gmail.com</p></a>
                                </div>
                                <div class="footer-info" style="margin-left:0px;">
                                    <div class="icon-links" style="margin-left:0px;">
                                        <a href="https://www.facebook.com/UpParaSportsAssociation/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="https://www.instagram.com/UpParaSportsAssociation/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="https://www.youtube.com/channel/UCx3N3XgtDIB9G_g5or2TxAg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>               	                            
                    <!--Footer Column-->
                	                  
                </div>
            </div>         
        </div>        
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="container">
                <div class="copyright-text text-center">Copyright &copy; 2022 Banaskantha & Patan Para Sports Association. All Rights Reserved</div>
            </div>            
        </div>         
    </footer>
    <!--Main Footer-->


</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>



     
    
    
<script type="text/javascript">
//<![CDATA[
var Page_Validators =  new Array(document.getElementById("ctl00_ContentPlaceHolder1_reqname"), document.getElementById("ctl00_ContentPlaceHolder1_rephone"), document.getElementById("ctl00_ContentPlaceHolder1_regphone"), document.getElementById("ctl00_ContentPlaceHolder1_reqemail"), document.getElementById("ctl00_ContentPlaceHolder1_regemail"), document.getElementById("ctl00_ContentPlaceHolder1_reqmessage"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var ctl00_ContentPlaceHolder1_reqname = document.all ? document.all["ctl00_ContentPlaceHolder1_reqname"] : document.getElementById("ctl00_ContentPlaceHolder1_reqname");
ctl00_ContentPlaceHolder1_reqname.controltovalidate = "ctl00_ContentPlaceHolder1_txtname";
ctl00_ContentPlaceHolder1_reqname.errormessage = "Name is Required";
ctl00_ContentPlaceHolder1_reqname.display = "Dynamic";
ctl00_ContentPlaceHolder1_reqname.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_reqname.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_reqname.initialvalue = "";
var ctl00_ContentPlaceHolder1_rephone = document.all ? document.all["ctl00_ContentPlaceHolder1_rephone"] : document.getElementById("ctl00_ContentPlaceHolder1_rephone");
ctl00_ContentPlaceHolder1_rephone.controltovalidate = "ctl00_ContentPlaceHolder1_txtphone";
ctl00_ContentPlaceHolder1_rephone.errormessage = "Phone is Required";
ctl00_ContentPlaceHolder1_rephone.display = "Dynamic";
ctl00_ContentPlaceHolder1_rephone.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_rephone.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_rephone.initialvalue = "";
var ctl00_ContentPlaceHolder1_regphone = document.all ? document.all["ctl00_ContentPlaceHolder1_regphone"] : document.getElementById("ctl00_ContentPlaceHolder1_regphone");
ctl00_ContentPlaceHolder1_regphone.controltovalidate = "ctl00_ContentPlaceHolder1_txtphone";
ctl00_ContentPlaceHolder1_regphone.errormessage = "Invalid phone number";
ctl00_ContentPlaceHolder1_regphone.display = "Dynamic";
ctl00_ContentPlaceHolder1_regphone.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_regphone.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_regphone.validationexpression = "^([\\(]{1}[0-9]{3}[\\)]{1}[\\.| |\\-]{0,1}|^[0-9]{3}[\\.|\\-| ]?)?[0-9]{3}(\\.|\\-| )?[0-9]{4}$";
var ctl00_ContentPlaceHolder1_reqemail = document.all ? document.all["ctl00_ContentPlaceHolder1_reqemail"] : document.getElementById("ctl00_ContentPlaceHolder1_reqemail");
ctl00_ContentPlaceHolder1_reqemail.controltovalidate = "ctl00_ContentPlaceHolder1_txtemail";
ctl00_ContentPlaceHolder1_reqemail.errormessage = "Email is Required";
ctl00_ContentPlaceHolder1_reqemail.display = "Dynamic";
ctl00_ContentPlaceHolder1_reqemail.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_reqemail.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_reqemail.initialvalue = "";
var ctl00_ContentPlaceHolder1_regemail = document.all ? document.all["ctl00_ContentPlaceHolder1_regemail"] : document.getElementById("ctl00_ContentPlaceHolder1_regemail");
ctl00_ContentPlaceHolder1_regemail.controltovalidate = "ctl00_ContentPlaceHolder1_txtemail";
ctl00_ContentPlaceHolder1_regemail.errormessage = "Invalid email address";
ctl00_ContentPlaceHolder1_regemail.display = "Dynamic";
ctl00_ContentPlaceHolder1_regemail.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_regemail.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_regemail.validationexpression = "^([\\w-\\.]+)@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.)|(([\\w-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\\]?)$";
var ctl00_ContentPlaceHolder1_reqmessage = document.all ? document.all["ctl00_ContentPlaceHolder1_reqmessage"] : document.getElementById("ctl00_ContentPlaceHolder1_reqmessage");
ctl00_ContentPlaceHolder1_reqmessage.controltovalidate = "ctl00_ContentPlaceHolder1_txtmessage";
ctl00_ContentPlaceHolder1_reqmessage.errormessage = "Message is Required";
ctl00_ContentPlaceHolder1_reqmessage.display = "Dynamic";
ctl00_ContentPlaceHolder1_reqmessage.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_reqmessage.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_reqmessage.initialvalue = "";
//]]>
</script>


<script type="text/javascript">
//<![CDATA[
(function() {var fn = function() {$get("ctl00_ContentPlaceHolder1_ToolkitScriptManager1_HiddenField").value = '';Sys.Application.remove_init(fn);};Sys.Application.add_init(fn);})();
var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        
document.getElementById('ctl00_ContentPlaceHolder1_reqname').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_reqname'));
}

document.getElementById('ctl00_ContentPlaceHolder1_rephone').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_rephone'));
}

document.getElementById('ctl00_ContentPlaceHolder1_regphone').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_regphone'));
}

document.getElementById('ctl00_ContentPlaceHolder1_reqemail').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_reqemail'));
}

document.getElementById('ctl00_ContentPlaceHolder1_regemail').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_regemail'));
}

document.getElementById('ctl00_ContentPlaceHolder1_reqmessage').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_reqmessage'));
}

//]]>
</script>
</form>
    <script src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script> 
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/isotope.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/html5lightbox.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/owl.js"></script>
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
<script src="js/masterslider/masterslider.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/validate.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/script.js"></script>
</body>

<!-- Mirrored from upparasports.in/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Dec 2022 15:52:14 GMT -->
</html>
