

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from upparasports.in/register by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Dec 2022 15:54:35 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head><title>
    Banaskantha & Patan Para Sports Association
</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet" /><link href="css/revolution-slider.css" rel="stylesheet" /><link href="css/style.css" rel="stylesheet" />
<!--Favicon-->
<link rel="shortcut icon" href="images/uppsalogoicon.jpg" type="image/jpg" /><link rel="icon" href="images/uppsalogoicon.jpg" type="image/jpg" />
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /><link href="css/responsive.css" rel="stylesheet" /><link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet" /><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap" rel="stylesheet" />
    <style type="text/css">
.modalBackground
{
background-color: Gray;
filter: alpha(opacity=80);
opacity: 0.8;
z-index: 10000;
}



</style>
<script language="javascript" type="text/javascript">
    function closepopup() {
        $find('ModalPopupExtender1').hide();
    }

</script>
</head>
<body>
    <!-- <form name="aspnetForm" method="post" action="http://upparasports.in/register" onsubmit="javascript:return WebForm_OnSubmit();" id="aspnetForm"> -->
<div>
<input type="hidden" name="ctl00_ContentPlaceHolder1_ToolkitScriptManager1_HiddenField" id="ctl00_ContentPlaceHolder1_ToolkitScriptManager1_HiddenField" value="" />
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTYwMTU3OTYzOGRkGUDgBYAlGLbYWGPobcS1McqFjpU=" />
</div>

<!-- <script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script> -->


<script src="WebResource0b31.js?d=tNllEADMFDPfQ_nY2m5A87fHL4vZ5AQMmimAcv3BMg-a0MDrcEMxopmiglibRAmiW0UZEy7LjXR08av-YgmHRmM20eY1&amp;t=637461179481343508" type="text/javascript"></script>


<script src="ScriptResource3612.js?d=bU6Q6hLZ6tUdiEHLyQ7FeO9ziw5h4V0DqlwgTEvAUSYNW_JEumM6JESo2yAA4Irsxlp-hjzzbWLLkhmTdgUD2qs2XYhryN4ajUEG-T7uus28nVGL06pkNf_pfo0xj9QZ1WZUS52uvNZ8QNwKFwq2GsYCTqQ1&amp;t=fffffffff6474071" type="text/javascript"></script>
<script src="ScriptResource3ab1.js?d=ZjtwwMy3Cer2CMiAuF410RSUU6QaDgQtC9BACbbAraNN8kJ5FsoJylfN1SeygwiR_CQ-3vyj5OH1tJD97lTcGtHDYlFXq5S1yyRpMCrq2k0NXkE1kWaXckKsVO23iGS73mpD5g2&amp;t=ffffffffecf8d3f2" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
</script>

<script src="ScriptResource9533.js?d=RwLmw_HLZNGBjmkOiIyRpc1TC84mGfyW8LlrKzdBQdiSOc1oJDnNJ9PbDxyitWWoxJ_OM_eGHahnNgwHqMXunm8r9WJuix72S4tRVgRArdHgpvxNhBr9upTgXi6r0RwV1Z_PhYNatOLXig31DFZ88zKejnQ1&amp;t=ffffffffecf8d3f2" type="text/javascript"></script>
<script src="register60f3.js?_TSM_HiddenField_=ctl00_ContentPlaceHolder1_ToolkitScriptManager1_HiddenField&amp;_TSM_CombinedScripts_=%3b%3bAjaxControlToolkit%2c+Version%3d3.5.7.123%2c+Culture%3dneutral%2c+PublicKeyToken%3d28f01b0e84b6d53e%3aen-US%3a5a4df314-b4a2-4da2-a207-9284f1b1e96c%3a475a4ef5%3a5546a2b%3ad2e10b12%3aeffe2a26%3a37e2e5c9%3a1d3ed089%3a751cdd15%3adfad98a5%3a497ef277%3aa43b07eb%3a3cf12cf1" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>



<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="799CC77D" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdACf/ecpgewTnRmx4NQCG94N4ITAC/yfRjqZIixmnZPRfi3RyZ6iYAfCAqKytfQA1SoV6Dr28bsgGQFAYj9rbLraceIAh1FtN782Q9tYE6E7A1jqrhFtg81iDBrOa7sP4+2lvGgjcDoZ39QQVU8n7v8P4rUnLfvgl2Qqi96gA0F8IecYOPl5WRQWicGuAxQQ6N//Eutyp67ZWJDUOG4Hx2XEnzeV1W66dMvEQDULaBeXMkEBIGuIHP+X1nJWzOpz1QFMd5/e1ae5AjYq9gkSfRThDN9/keF9tz/vwB5C8X2NGfjbF5n3+qNuL7zLopxuwRCAaKLaDSCyck2sUs0W3c732WQkwTJ2gcXbz6k5nTz5AiprCqGHzQvKXxVGHRbCBZSsLM3fNPCPCANstVUqJq4/a1pUqPD2qoyakMdcN/qn2l/YB8LY9rwztYsP7gBkCZJ+XWNlva9mAjhaFhz/A+yDZEaJryZPvQjEy6TQHp/AidaHxTfRCNbhkge0XC9XSDxiWzWS/y1jOC8jsCTz24E6NVwAkst5N26K6MS6xvtHF3aepslmR/Vo7KiHT4tucMMan07FVRn7jyGnPocm3lGrfGOJc+mIBXQvhX1vNKUw73kxkvaqqD64izIOwziUQ8qNwiJmy0jfGwirzqe9cj7lwCYP3YJ4JbyaHCADkHAiyiK8nMJDyf9lWTXFzB7/Awqh18ZD0HnrV3mr35iitU/HMclWW5esAr64SZKd1oCUDv4z0VY3G3j5Q6f5C52xLmjGrVzj5VZrFCJ5g3RSA9OOyOpLfnTcyI6t/Dy0ORWEw/Ofq1sXIwTJ5VSV2nqudZ4LGBU8jjwdtAlp5OUUbEmfdtz/HTQ==" />
</div>
   
<div class="page-wrapper"> 	
    <!-- Preloader -->
 	

   


    <!-- Main Header-->
    <header class="main-header">
        <div class="header-top">
            <div class="container">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="main-logo">
                        <figure>
                            <a href="/"><img src="images/glf.png" alt="" class="img-responsive"></a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="main-header-info clearfix">
                        <div class="header-info">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <h6>Call Us:</h6>
                            <span>+91-8320469815, +91-9978022834</span>
                        </div>
                        <div class="header-info">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h6>Email Us:</h6>
                            <a href="mailto:dyfgujrat@email.com"><span>dyfgujarat@gmail.com</span></a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
                    
        <div class="header-lower">
            <div class="container">
                <div class="header-area">
                    <nav class="main-menu">
                        <div class="navbar-header clearfix">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="/" style="color:#fff;">Home</a></li>
                                <li><a href="/about-us">About Us</a></li>
                                <!-- <li>
                                    <a href="members.html">Members</a>

                                </li>
                                <li>
                                    <a href="events.html">Events</a>

                                </li> -->
                                 <li class=""><a href="/gallery">Gallery</a>
                                    <ul>
                                        <!-- <li><a href="/gallery">Gallery</a></li>  -->
                                        <!-- <li><a href="media.html">Media</a></li>  -->
                                    </ul>
                                </li>
                                <li>
                                    

                                </li>
                                <!-- <li>
                                    <a href="disciplinary-committee.html">Disciplinary Committee</a>

                                </li> -->

                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>                    
                    </nav>
                    <div class="link-btn">
                        <a href="/register" class="theme-btn btn-style-one">Register Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sticky-header">
        	<div class="container clearfix">
                <!--Logo-->
                <div class="logo">
                    <a href="/"><img src="images/glf.png" alt="" class="img-responsive" style="width: 300px"></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header clearfix">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="/">Home</a></li>
                                <li><a href="/about-us">About Us</a></li>
                                <!-- <li ><a href="members.html">Members</a>
                                 
                                </li>
                                <li><a href="events.html">Events</a>
                                   
                                </li> -->
                                <li class="dropdown"><a href="#">Gallery</a>
                                    <ul>
                                        <!-- <li><a href="/gallery">Gallery</a></li>  -->
                                        <!-- <li><a href="media.html">Media</a></li>  -->
                                    </ul>
                                </li>
                                <!-- <li><a href="disciplinary-committee.html">Disciplinary Committee</a>
                                   
                                </li> -->
                                
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>                    
                    </nav><!-- Main Menu End-->
                </div>                
            </div>
        </div>
    </header>
    <!--End Main Header -->
    
    
       
      <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ContentPlaceHolder1$ToolkitScriptManager1', 'aspnetForm', [], [], [], 90, 'ctl00');
//]]>
</script>

     <!--Page Title-->
    <section class="page-title" style="background-image:url(./photos/new3.jpg);">
        <div class="container">
            <div class="title-text clearfix">
                <h1>Register Now</h1>
                <ul class="title-menu">
                    <li><a href="/">home</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                    <li>Register Now</li>
                </ul>
            </div>           
        </div>
    </section>
    <!--End Page Title-->
       

    <section class="contact-section"  style="background-color:#f5f5f5;">
        <div class="container">
            <div class="row">
                <form action="/register" method="POST" class="wpcf7-form init" novalidate="novalidate">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="sec-title">
                        <h3>Register <span>Now</span></h3>
                    </div>                    
                    <div class="default-form-area">
                        <div id="contact-form" class="default-form">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                         <input name="name" type="text" id="ctl00_ContentPlaceHolder1_txtname" placeholder="Name" />
                                       <span id="ctl00_ContentPlaceHolder1_reqname" class="alertdanger" style="color:Red;display:none;">Name is Required</span>
                                    </div>
                                    </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                         <input name="fname" type="text" id="ctl00_ContentPlaceHolder1_txtfname" placeholder="Father Name" />
                                       <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator2" class="alertdanger" style="color:Red;display:none;">Father Name is Required</span>
                                    </div>
                                    </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                         <input name="mname" type="text" id="ctl00_ContentPlaceHolder1_txtmname" placeholder="Mother Name" />
                                       <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator3" class="alertdanger" style="color:Red;display:none;">Mother Name is Required</span>
                                    </div>
                                    </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    
                                    <div class="form-group">
                                         <textarea name="address" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtaddress" class="txtaddress" placeholder="Address">
</textarea>
                                       <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator1" class="alertdanger" style="color:Red;display:none;">Address is Required</span>
                                           
                                    </div>
                                </div>
                                   <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                         <input name="state1" type="text" id="ctl00_ContentPlaceHolder1_txtstate" placeholder="District" />
                                       <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator4" class="alertdanger" style="color:Red;display:none;">District is Required</span>
                                    </div>
                                    </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                         <input name="pincode" type="text" id="ctl00_ContentPlaceHolder1_txtpincode" placeholder="Pincode" />
                                       <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator5" class="alertdanger" style="color:Red;display:none;">Pincode is Required</span>
                                    </div>
                                    </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                         <input name="dob1" type="text" id="ctl00_ContentPlaceHolder1_txtdob" placeholder="Date Of Birth" />
                                       <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator11" class="alertdanger" style="color:Red;display:none;">Date Of Birth is Required</span>
                                    </div>
                                    </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                         <input name="aadhar" type="text" id="ctl00_ContentPlaceHolder1_txtaadhar" placeholder="Aadhaar No." />
                                       <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator9" class="alertdanger" style="color:Red;display:none;">Aadhaar No. is Required</span>
                                    </div>
                                    </div>
                                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input name="phone" type="text" id="ctl00_ContentPlaceHolder1_txtphone" placeholder="Phone" />
                                       
                                        <span id="ctl00_ContentPlaceHolder1_rephone" class="alertdanger" style="color:Red;display:none;">Phone is Required</span>
                                   <span id="ctl00_ContentPlaceHolder1_regphone" class="alertdanger" style="color:Red;display:none;">Invalid phone number</span>
                                    </div>
                                    </div>

                                 <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                       <input name="email" type="text" id="ctl00_ContentPlaceHolder1_txtemail" placeholder="Email Address" />
                                       <span id="ctl00_ContentPlaceHolder1_reqemail" class="alertdanger" style="color:Red;display:none;">Email is Required</span>
                                   <span id="ctl00_ContentPlaceHolder1_regemail" class="alertdanger" style="color:Red;display:none;">Invalid email address</span>
                                    </div>
                                     </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        
                                       <select name="gender" id="ctl00_ContentPlaceHolder1_ddlgender">
	<option value="None">Gender</option>
	<option value="Male">Male</option>
	<option value="Female">Female</option>

</select>
                                           <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator6" class="alertdanger" style="color:Red;display:none;">Gender is Required</span>
                                                                           </div>
                                    </div>


                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            
                                           <select name="gender" id="ctl00_ContentPlaceHolder1_ddlgender">
        <option value="None">Category</option>
        <option value="F">F</option>
        <option value="T">T</option>
    
    </select>
                                               <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator6" class="alertdanger" style="color:Red;display:none;">Gender is Required</span>
                                                                               </div>
                                        </div>


                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        
                                       <select name="married" id="ctl00_ContentPlaceHolder1_ddlmarried">
	<option value="None">Maritual Status</option>
	<option value="Married">Married</option>
	<option value="Unmarried">Unmarried</option>

</select>
                                           <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator7" class="alertdanger" style="color:Red;display:none;">Maritual Status is Required</span>
                                                                           </div>
                                    </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        
                                       <select name="bloodGroup">
	<option value="None">Blood Group</option>
	<option value="A+">A+</option>
	<option value="A-">A-</option>
	<option value="B+">B+</option>
	<option value="B-">B-</option>
	<option value="O+">O+</option>
	<option value="O-">O-</option>
	<option value="AB+">AB+</option>
	<option value="AB-">AB-</option>

</select>
                                           <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator8" class="alertdanger" style="color:Red;display:none;">Maritual Status is Required</span>
                                                                           </div>
                                    </div>

                                   
                                  
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                          <select name="category" id="ctl00_ContentPlaceHolder1_ddlpcategory">
	<option value="None">Physically Challenge Category</option>
	<option value="	Visually Impaired">	Visually Impaired</option>
	<option value="Orthopedically Handicapped">Orthopedically Handicapped</option>
	<option value="Orthopedically Handicapped">Intellectual Disability</option>
	<option value="Orthopedically Handicapped">Self Palsy</option>
	<option value="Orthopedically Handicapped">Other</option>

</select>
                                           <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator10" class="alertdanger" style="color:Red;display:none;">Physically Challenge Category is Required</span>
                                    </div>
                                    </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                          <select name="level" id="ctl00_ContentPlaceHolder1_ddllevel">
	<option value="None">Athlete Level</option>
	<option value="National">National</option>
	<option value="International">International</option>
	<option value="State">State</option>
	<option value="Fresher">Fresher</option>

</select>
                                           <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator12" class="alertdanger" style="color:Red;display:none;">Athlete Level is Required</span>
                                    </div>
                                    </div>
                                  <!-- <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                         <input name="passportnumber" type="text" id="ctl00_ContentPlaceHolder1_txtpassportnumber" placeholder="Passport No" />
                                      
                                    </div>
                                    </div> -->
                                <!-- <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                         <input name="passportdate" type="text" id="ctl00_ContentPlaceHolder1_txtpassportdate" placeholder="Passport Validity Date" />
                                      
                                    </div>
                                    </div> -->
                                    

                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            
                                           <select name="events">
        <option value="None">Events</option>
        <option value="A+">Para Athletics</option>
        <option value="A-">Para Swimming</option>
        <option value="B+">Para Power Lifting</option>
        <option value="B-">Para Badminton</option>
        <option value="O+">Para Table Tennis</option>
        <option value="O-">Para Archery</option>
        <option value="AB+">Para Shooting</option>
        <option value="AB-">Para Cricket</option>
        <option value="AB-">Any Other Mention Below</option>
        <input type="text" placeholder="Mention if any other sports*" />
        

    
    </select>
                                               <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator8" class="alertdanger" style="color:Red;display:none;">Maritual Status is Required</span>
                                                                               </div>
                                        </div>
                                
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                       <input type="submit" value="Submit Now"  class="btn-style-two" />
                                        
                                    </div>
                                    </div>
                                </div>
                                
                            </div>                                        
                        </div>
                    </div>
                    </form>
                </div>
            </div>
       
    </section>

    


  
     <input type="submit" name="ctl00$ContentPlaceHolder1$btnShowPopup" value="" id="ctl00_ContentPlaceHolder1_btnShowPopup" style="display:none" />

<div id="ctl00_ContentPlaceHolder1_pnlpopup" style="width:400px;display:none; height:auto;">
	
     <div class="modalconfirm">

<h6>
<span id="ctl00_ContentPlaceHolder1_lblmessage"></span>
    </h6>

    <input type="submit" name="ctl00$ContentPlaceHolder1$btnokey" value="Go Back!" onclick="closepopup();" id="ctl00_ContentPlaceHolder1_btnokey" class="btnyes" />

</div>

</div>
     
    
                
                 
                
     
    


   


    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="container">
            <!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row">                          
                    <!--Footer Column-->
                	<div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    	<div class="about-widget">
                            <div class="footer-logo">
                                <a href="/"><img src="images/glf.png" alt="" class="img-responsive"></a>
                            </div> 
                            <div class="widget-content">
                                <p>The Banaskantha & Patan Para Sports Association, which is a component of the Gujarat Paralympic Committee, made the decision to create this website in order to assist people with disabilities in registering for the future paralympic games.</p>
                            </div> 
                            <div class="link-btn">
                                <a href="/about-us">Read More</a>
                            </div>                 
                        </div>
                    </div>                            
                    <!--Footer Column-->
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <div class="links-widget">
                            <h4>quick links</h4>
                            <ul class="links-list">
                                <li><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
                                <li><a href="/about-us"><i class="fa fa-angle-right" aria-hidden="true"></i>About Us</a></li>
                                <li><a href="./gallery.ejs"><i class="fa fa-angle-right" aria-hidden="true"></i>Gallery</a></li>
                                <li><a href="./register.ejs"><i class="fa fa-angle-right" aria-hidden="true"></i>Register</a></li>
                                <li><a href="/contact"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <h4>other links</h4>
                        <ul class="links-list">
                            <li><a href="https://paralympicindia.org.in/web/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Paralympic Committee of India</a></li>
                            <li><a href="https://www.paralympic.org/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>International Paralympic Committee</a></li>
                            <li><a href="https://asianparalympic.org/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Asian Paralympic Committee</a></li>
                            <li><a href="https://kheloindia.gov.in/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Khelo India</a></li>
                            <li><a href="https://yas.nic.in/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>Ministry of Youth Affairs and Sports</a></li>
                            <li><a href="https://olympics.com/tokyo-2020/en/paralympics/sports/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i>The Tokyo Organising Committee of the Olympic and Paralympic Games</a></li>
                            
                        </ul>
                    </div>
                    <!--Footer Column-->
                	<div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    	<div class="contact-links">
                            <h4>contact us</h4>                       	
                           
                            <div class="widget-content">
                                <div class="footer-info">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <p>Ambetha Post, Ratanpur,<br/> 
                                Taluka-Palanpur, District-Banaskantha,<br/>
                                Gujarat, Pin-385001.
                            </p>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <p>+91-8320469815, +91-9978022834</p>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <a href="mailto:dyfgujrat@email.com"><p>dyfgujarat@gmail.com</p></a>
                                </div>
                                <div class="footer-info" style="margin-left:0px;">
                                    <div class="icon-links" style="margin-left:0px;">
                                        <a href="https://www.facebook.com/UpParaSportsAssociation/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="https://www.instagram.com/UpParaSportsAssociation/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="https://www.youtube.com/channel/UCx3N3XgtDIB9G_g5or2TxAg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>               	                            
                    <!--Footer Column-->
                	                  
                </div>
            </div>         
        </div>        
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="container">
                <div class="copyright-text text-center">Copyright &copy; 2022 Banaskantha & Patan Para Sports Association. All Rights Reserved</div>
            </div>            
        </div>         
    </footer>
    <!--Main Footer-->


</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>



     
    
    
<script type="text/javascript">
//<![CDATA[
var Page_Validators =  new Array(document.getElementById("ctl00_ContentPlaceHolder1_reqname"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator2"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator3"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator1"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator4"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator5"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator11"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator9"), document.getElementById("ctl00_ContentPlaceHolder1_rephone"), document.getElementById("ctl00_ContentPlaceHolder1_regphone"), document.getElementById("ctl00_ContentPlaceHolder1_reqemail"), document.getElementById("ctl00_ContentPlaceHolder1_regemail"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator6"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator7"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator8"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator10"), document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator12"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var ctl00_ContentPlaceHolder1_reqname = document.all ? document.all["ctl00_ContentPlaceHolder1_reqname"] : document.getElementById("ctl00_ContentPlaceHolder1_reqname");
ctl00_ContentPlaceHolder1_reqname.controltovalidate = "ctl00_ContentPlaceHolder1_txtname";
ctl00_ContentPlaceHolder1_reqname.errormessage = "Name is Required";
ctl00_ContentPlaceHolder1_reqname.display = "Dynamic";
ctl00_ContentPlaceHolder1_reqname.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_reqname.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_reqname.initialvalue = "";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator2 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator2"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator2");
ctl00_ContentPlaceHolder1_RequiredFieldValidator2.controltovalidate = "ctl00_ContentPlaceHolder1_txtfname";
ctl00_ContentPlaceHolder1_RequiredFieldValidator2.errormessage = "Father Name is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator2.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator2.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator2.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator2.initialvalue = "";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator3 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator3"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator3");
ctl00_ContentPlaceHolder1_RequiredFieldValidator3.controltovalidate = "ctl00_ContentPlaceHolder1_txtmname";
ctl00_ContentPlaceHolder1_RequiredFieldValidator3.errormessage = "Mother Name is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator3.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator3.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator3.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator3.initialvalue = "";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator1 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator1"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator1");
ctl00_ContentPlaceHolder1_RequiredFieldValidator1.controltovalidate = "ctl00_ContentPlaceHolder1_txtaddress";
ctl00_ContentPlaceHolder1_RequiredFieldValidator1.errormessage = "Address is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator1.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator1.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator1.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator1.initialvalue = "";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator4 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator4"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator4");
ctl00_ContentPlaceHolder1_RequiredFieldValidator4.controltovalidate = "ctl00_ContentPlaceHolder1_txtstate";
ctl00_ContentPlaceHolder1_RequiredFieldValidator4.errormessage = "State is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator4.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator4.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator4.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator4.initialvalue = "";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator5 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator5"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator5");
ctl00_ContentPlaceHolder1_RequiredFieldValidator5.controltovalidate = "ctl00_ContentPlaceHolder1_txtpincode";
ctl00_ContentPlaceHolder1_RequiredFieldValidator5.errormessage = "Pincode is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator5.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator5.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator5.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator5.initialvalue = "";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator11 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator11"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator11");
ctl00_ContentPlaceHolder1_RequiredFieldValidator11.controltovalidate = "ctl00_ContentPlaceHolder1_txtdob";
ctl00_ContentPlaceHolder1_RequiredFieldValidator11.errormessage = "Date Of Birth is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator11.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator11.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator11.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator11.initialvalue = "";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator9 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator9"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator9");
ctl00_ContentPlaceHolder1_RequiredFieldValidator9.controltovalidate = "ctl00_ContentPlaceHolder1_txtaadhar";
ctl00_ContentPlaceHolder1_RequiredFieldValidator9.errormessage = "Aadhaar No. is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator9.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator9.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator9.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator9.initialvalue = "";
var ctl00_ContentPlaceHolder1_rephone = document.all ? document.all["ctl00_ContentPlaceHolder1_rephone"] : document.getElementById("ctl00_ContentPlaceHolder1_rephone");
ctl00_ContentPlaceHolder1_rephone.controltovalidate = "ctl00_ContentPlaceHolder1_txtphone";
ctl00_ContentPlaceHolder1_rephone.errormessage = "Phone is Required";
ctl00_ContentPlaceHolder1_rephone.display = "Dynamic";
ctl00_ContentPlaceHolder1_rephone.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_rephone.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_rephone.initialvalue = "";
var ctl00_ContentPlaceHolder1_regphone = document.all ? document.all["ctl00_ContentPlaceHolder1_regphone"] : document.getElementById("ctl00_ContentPlaceHolder1_regphone");
ctl00_ContentPlaceHolder1_regphone.controltovalidate = "ctl00_ContentPlaceHolder1_txtphone";
ctl00_ContentPlaceHolder1_regphone.errormessage = "Invalid phone number";
ctl00_ContentPlaceHolder1_regphone.display = "Dynamic";
ctl00_ContentPlaceHolder1_regphone.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_regphone.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_regphone.validationexpression = "^([\\(]{1}[0-9]{3}[\\)]{1}[\\.| |\\-]{0,1}|^[0-9]{3}[\\.|\\-| ]?)?[0-9]{3}(\\.|\\-| )?[0-9]{4}$";
var ctl00_ContentPlaceHolder1_reqemail = document.all ? document.all["ctl00_ContentPlaceHolder1_reqemail"] : document.getElementById("ctl00_ContentPlaceHolder1_reqemail");
ctl00_ContentPlaceHolder1_reqemail.controltovalidate = "ctl00_ContentPlaceHolder1_txtemail";
ctl00_ContentPlaceHolder1_reqemail.errormessage = "Email is Required";
ctl00_ContentPlaceHolder1_reqemail.display = "Dynamic";
ctl00_ContentPlaceHolder1_reqemail.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_reqemail.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_reqemail.initialvalue = "";
var ctl00_ContentPlaceHolder1_regemail = document.all ? document.all["ctl00_ContentPlaceHolder1_regemail"] : document.getElementById("ctl00_ContentPlaceHolder1_regemail");
ctl00_ContentPlaceHolder1_regemail.controltovalidate = "ctl00_ContentPlaceHolder1_txtemail";
ctl00_ContentPlaceHolder1_regemail.errormessage = "Invalid email address";
ctl00_ContentPlaceHolder1_regemail.display = "Dynamic";
ctl00_ContentPlaceHolder1_regemail.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_regemail.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_regemail.validationexpression = "^([\\w-\\.]+)@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.)|(([\\w-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\\]?)$";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator6 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator6"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator6");
ctl00_ContentPlaceHolder1_RequiredFieldValidator6.controltovalidate = "ctl00_ContentPlaceHolder1_ddlgender";
ctl00_ContentPlaceHolder1_RequiredFieldValidator6.errormessage = "Gender is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator6.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator6.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator6.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator6.initialvalue = "None";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator7 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator7"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator7");
ctl00_ContentPlaceHolder1_RequiredFieldValidator7.controltovalidate = "ctl00_ContentPlaceHolder1_ddlmarried";
ctl00_ContentPlaceHolder1_RequiredFieldValidator7.errormessage = "Maritual Status is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator7.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator7.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator7.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator7.initialvalue = "None";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator8 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator8"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator8");
ctl00_ContentPlaceHolder1_RequiredFieldValidator8.controltovalidate = "ctl00_ContentPlaceHolder1_ddlmarried";
ctl00_ContentPlaceHolder1_RequiredFieldValidator8.errormessage = "Maritual Status is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator8.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator8.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator8.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator8.initialvalue = "None";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator10 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator10"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator10");
ctl00_ContentPlaceHolder1_RequiredFieldValidator10.controltovalidate = "ctl00_ContentPlaceHolder1_ddlpcategory";
ctl00_ContentPlaceHolder1_RequiredFieldValidator10.errormessage = "Physically Challenge Category is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator10.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator10.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator10.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator10.initialvalue = "None";
var ctl00_ContentPlaceHolder1_RequiredFieldValidator12 = document.all ? document.all["ctl00_ContentPlaceHolder1_RequiredFieldValidator12"] : document.getElementById("ctl00_ContentPlaceHolder1_RequiredFieldValidator12");
ctl00_ContentPlaceHolder1_RequiredFieldValidator12.controltovalidate = "ctl00_ContentPlaceHolder1_ddllevel";
ctl00_ContentPlaceHolder1_RequiredFieldValidator12.errormessage = "Athlete Level is Required";
ctl00_ContentPlaceHolder1_RequiredFieldValidator12.display = "Dynamic";
ctl00_ContentPlaceHolder1_RequiredFieldValidator12.validationGroup = "LoginFrame";
ctl00_ContentPlaceHolder1_RequiredFieldValidator12.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_ContentPlaceHolder1_RequiredFieldValidator12.initialvalue = "None";
//]]>
</script>


<script type="text/javascript">
//<![CDATA[
(function() {var fn = function() {$get("ctl00_ContentPlaceHolder1_ToolkitScriptManager1_HiddenField").value = '';Sys.Application.remove_init(fn);};Sys.Application.add_init(fn);})();
var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        
document.getElementById('ctl00_ContentPlaceHolder1_reqname').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_reqname'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator2').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator2'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator3').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator3'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator1').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator1'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator4').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator4'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator5').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator5'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator11').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator11'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator9').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator9'));
}

document.getElementById('ctl00_ContentPlaceHolder1_rephone').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_rephone'));
}

document.getElementById('ctl00_ContentPlaceHolder1_regphone').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_regphone'));
}

document.getElementById('ctl00_ContentPlaceHolder1_reqemail').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_reqemail'));
}

document.getElementById('ctl00_ContentPlaceHolder1_regemail').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_regemail'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator6').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator6'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator7').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator7'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator8').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator8'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator10').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator10'));
}

document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator12').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_ContentPlaceHolder1_RequiredFieldValidator12'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.ModalPopupBehavior, {"BackgroundCssClass":"modalBackground","PopupControlID":"ctl00_ContentPlaceHolder1_pnlpopup","dynamicServicePath":"/register","id":"ctl00_ContentPlaceHolder1_ModalPopupExtender1"}, null, null, $get("ctl00_ContentPlaceHolder1_btnShowPopup"));
});
//]]>
</script>
</form>
    <script src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script> 
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/isotope.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/html5lightbox.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/owl.js"></script>
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
<script src="js/masterslider/masterslider.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/validate.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/script.js"></script>
</body>

<!-- Mirrored from upparasports.in/register by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Dec 2022 15:54:37 GMT -->
</html>
